@import "modalStartProject";
@import "menu";


a, a:hover, a:active{
    text-decoration: none;
}
a,button,input,textarea {
    outline: none;
}
*{

    -webkit-touch-callout: none; 
    -webkit-user-select: none;   
    -khtml-user-select: none;    
    -moz-user-select: none;     
    -ms-user-select: none;       
    user-select: none;  
}
.fm__wrapper{
    display: flex;
    align-items: flex-end;
    position: relative;
}
.fm__wrapper{
    z-index: 2;
    max-width: 1440px;
    width: 1476px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
    @media (max-width: 1600px) {
        width: 1300px;
    }
    @media (max-width: 1366px) {
        width: 1114px;
    }
    @media (max-width: 1200px) {
        width: 950px;
    }
    @media (max-width: 991px) {
        max-width: 750px;
    }
    @media (max-width: 767px) {
        max-width: 550px;
    }
    @media screen and (max-width: 575px) {
        max-width: 300px;
    }
}
.fm__wrapperColumn{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    @media (max-width: 991px) {
        flex-direction: row;
    }
    @media (max-width: 767px) {
        flex-direction: column;
    }
}
.contact__img-main{
    position: absolute;
    background: url('../img/contact__title.png') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 83px;
    @media (max-width: 1600px) {
        height: 65px;
        top: 120px;
    }
    @media (max-width: 1366px) {
        height: 55px;
        top: 100px;
    }
    @media (max-width: 991px) {
        height: 35px;
    }
    @media (max-width: 767px) {
        height: 25px;
    }
    @media screen and (max-width: 575px) {
        height: 15px;
    }
}
.contact__wrap_ticker_violet {
    display: block;
    width: 100%;
    position: absolute;
    top: 150px;
    z-index: 2;
    overflow: hidden;
    @media (max-width: 1600px) {
        top: 130px;
    }
    @media (max-width: 1280px) {
        top: 110px;
    }
    @media (max-width: 991px) {
        top: 90px;
    }
    @media screen and (max-width: 575px) {
        top: 100px;
    }
}

.contact__wrap_ticker_violet .ticker_violet {
    white-space: nowrap;
}

.contact__wrap_ticker_violet .ticker_violet .ticker__text_violet {
    font-family: 'GTEestiProDisplay-UltraBold';
    font-style: normal;
    font-display: swap;
    font-weight: 800;
    font-size: 65px;
    letter-spacing: 0.035em;
    text-transform: uppercase;
    color: #F6173F;
    -webkit-text-stroke: 2px #F6173F;
    -webkit-text-fill-color: white;
    @media (max-width: 1366px) {
        font-size: 55px;
    }
    @media (max-width: 1200px) {
        font-size: 45px;
    }
    @media (max-width: 991px) {
        font-size: 35px;
        -webkit-text-stroke: 1px #F6173F;
    }
    @media (max-width: 767px) {
        font-size: 25px;
    }
    @media screen and (max-width: 575px) {
        font-size: 18px;
    }
}

.contact__wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 80px;
    @media (max-width: 1600px) {
        margin-top: 70px;
    }
    @media (max-width: 1366px) {
        margin-top: 60px;
    }
    @media (max-width: 1280px) {
        margin-top: 50px;
    }
    @media (max-width: 991px) {
        margin: 0 auto;
        max-width: 750px;
        margin-top: 50px;
        flex-direction: row;
        flex-wrap: wrap;
    }
    @media (max-width: 767px) {
        max-width: 550px;
    }
    @media screen and (max-width: 575px) {
        max-width: 300px;
    }
}
.contact__text{
    display: flex;
    flex-direction: column;
    margin-top: 130px;;
    @media (max-width: 1600px) {
        margin-top: 100px;
    }
    @media (max-width: 1366px) {
        margin-top: 60px;
    }
    @media (max-width: 1200px) {
        margin-top: 50px;
    }
    @media (max-width: 991px) {
        margin-top: 0px;
        width: 50%;
    }
    @media (max-width: 767px) {
        width: 100%;
    }
}
.contact__line{
    display: flex;
    margin-bottom: 80px;
    @media (max-width: 1600px) {
        margin-bottom: 70px;
    }
    @media (max-width: 1366px) {
        margin-bottom: 50px;
    }
    @media (max-width: 1280px) {
        margin-bottom: 50px;
    }
    @media (max-width: 991px) {
        margin-bottom: 40px;
    }
    @media (max-width: 767px) {
        margin-bottom: 30px;
    }
    @media screen and (max-width: 575px) {
        margin-bottom: 20px;
    }
    .contact__light{
        font-family: 'AvertaCY-Light';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color: #282937;
        width: 183px;
        margin-right: 45px;
        @media (max-width: 1600px) {
            font-size: 16px;
            margin-right: 35px;
            width: 160px;
        }
        @media (max-width: 1366px) {
            font-size: 14px;
            margin-right: 30px;
            width: 140px;
        }
        @media (max-width: 1200px) {
            margin-right: 20px;
        }
        @media (max-width: 991px) {
            width: 130px;
        }
        @media (max-width: 767px) {
            font-size: 12px;
            width: 115px;
            margin-right: 10px;
        }
        @media screen and (max-width: 575px) {
            font-size: 11px;
        }
    }
    .contact__bold{
        color: #282937;
        font-family: 'GTEestiProDisplay-UltraBold';
        font-style: normal;
        font-weight: 800;  // тут не тот шрифт
        font-size: 34px;
        line-height: 127.6%;
        letter-spacing: 0.05em;
        display: flex;
        flex-direction: column;
        @media (max-width: 1600px) {
            font-size: 28px;
        }
        @media (max-width: 1366px) {
            font-size: 24px;
        }
        @media (max-width: 1280px) {
            font-size: 22px;
        }
        @media (max-width: 991px) {
            font-size: 20px;
        }
        @media (max-width: 767px) {
            font-size: 16px;
        }
        @media screen and (max-width: 575px) {
            font-size: 14px;
        }
    }
    .contact__email{
        font-family: 'ACYSB';
        font-style: normal;
        color: #282937;
        font-weight: 600;
        font-size: 22px;
        @media (max-width: 1600px) {
            font-size: 22px;
        }
        @media (max-width: 1366px) {
            font-size: 20px;
        }
        @media (max-width: 1280px) {
            font-size: 18px;
        }
        @media (max-width: 991px) {
            font-size: 16px;
        }
        @media (max-width: 767px) {
            font-size: 14px;
        }
        @media screen and (max-width: 575px) {
            font-size: 12px;
        }
    }
}

.contact__line:nth-child(3){
    margin-bottom: 0;
}

.contact__soshial{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    @media (max-width: 1600px) {
        margin-top: 110px;
    }
    @media (max-width: 1366px) {
        margin-top: 70px;
    }
    @media (max-width: 1200px) {
        margin-top: 50px;
    }
    @media (max-width: 991px) {
        margin-top: 0px;
        width: 50%;
    }
    @media (max-width: 767px) {
        width: 100%;
        margin-top: 20px;
    }
    .contact__line{
        margin-bottom: 20px;
        @media (max-width: 1366px) {
            margin-bottom: 15px;
        }
        @media (max-width: 767px) {
            margin-bottom: 10px;
        }
    }
}
.contact__soshialList{
    display: flex;
    a{
        font-family: 'ACYSB';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        color: #F6173F;
        margin-right: 35px;
        @media (max-width: 1600px) {
            font-size: 16px;
            margin-right: 30px;
        }
        @media (max-width: 1366px) {
            font-size: 14px;
            margin-right: 20px;
        }
        @media (max-width: 1200px) {
            margin-right: 15px;
        }
        @media (max-width: 991px) {
            margin-right: 9px;
        }
        @media (max-width: 767px) {
            font-size: 12px;
        }
        @media screen and (max-width: 575px) {
            font-size: 11px;
            margin-right: 6px;
        }
    }
}

.contact__soshialList p:nth-child(3){
    margin-right: 0;
}

.contact__map{
    position: absolute;
    right: 0;
    width: 989px;
    height: 740px;
    @media (max-width: 1800px) {
        width: 900px;
    }
    @media (max-width: 1600px) {
        width: 800px;
        height: 620px;
    }
    @media (max-width: 1440px) {
        width: 750px;
        height: 620px;
    }
    @media (max-width: 1366px) {
        width: 650px;
        height: 460px;
    }
    @media (max-width: 1200px) {
        width: 530px;
    }
    @media (max-width: 1024px) {
        width: 490px;
    }
    @media (max-width: 991px) {
        position: relative;
        width: 100%;
        margin-top: 50px;
        height: 330px;
    }
    @media screen and (max-width: 575px) {
        height: 290px;
    }
    .map__image{
        position: absolute;
        width: 100%;
        height: 100%;
        background: url('../img/map.png') no-repeat center;
        background-size: cover;
    }
    #map{
        width: 100%;
        height: 100%;
    }
}

.contact__wrapper-map{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 3;
}

.contact__map-address{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 750px;
    height: 237px;
    background: #F7F7F7;
    @media (max-width: 1600px) {
        width: 600px;
        height: 200px;
    }
    @media (max-width: 1366px) {
        width: 540px;
        height: 160px;
    }
    @media (max-width: 1200px) {
        width: 450px;
    }
    @media (max-width: 991px) {
        width: 400px;
        height: 120px;
    }
    @media screen and (max-width: 575px) {
        width: 100%;
    }
    .contact__line{
        display: flex;
        margin-top: 60px;
        @media (max-width: 1600px) {
            margin-top: 40px;
        }
        @media (max-width: 1366px) {
            margin-top: 30px;
        }
        @media (max-width: 991px) {
            margin-top: 25px;
        }
    }
    .contact__map-text{
        display: flex;
        flex-direction: column;
        width: 100%;
        p{
            font-family: 'ACYSB';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            color: #282937;
            @media (max-width: 1600px) {
                font-size: 16px;
            }
            @media (max-width: 1366px) {
                font-size: 14px;
            }
            @media (max-width: 767px) {
                font-size: 12px;
            }
            @media screen and (max-width: 575px) {
                font-size: 11px;
            }
        }
        .contact__map-bold{
            font-family: 'AvertaCY-Black';
            font-style: normal;
            font-weight: 900;
            font-size: 34px;
            @media (max-width: 1600px) {
                font-size: 28px;
            }
            @media (max-width: 1366px) {
                font-size: 24px;
            }
            @media (max-width: 1280px) {
                font-size: 22px;
            }
            @media (max-width: 991px) {
                font-size: 20px;
            }
            @media (max-width: 767px) {
                font-size: 16px;
            }
            @media screen and (max-width: 575px) {
                font-size: 14px;
            }
        }
    }
    .contact__map-link{
        display: flex;
        width: 100%;
        p{
            font-family: 'ACYSB';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            color: #F6173F;
            display: flex;
            align-items: center;
            margin-top: 48px;
            @media (max-width: 1600px) {
                font-size: 16px;
                margin-top: 30px;
            }
            @media (max-width: 1366px) {
                font-size: 14px;
                margin-top: 20px;
            }
            @media (max-width: 991px) {
                margin-top: 10px;
            }
            @media (max-width: 767px) {
                font-size: 12px;
            }
            @media screen and (max-width: 575px) {
                font-size: 11px;
            }
        }
        a{
            width: 46px;
            height: 46px;
            border: 1px solid rgba(246, 23, 63, 0.23);
            box-sizing: border-box;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 25px;
            @media (max-width: 1200px) {
                margin-left: 20px;
                width: 40px;
                height: 40px;
            }
            img{
                width: 50%;  
            }
        }
    }
}
.contact__form{
    margin-top: 260px;
    position: relative;
    height: 100%;
    min-height: 936px;
    // min-height: 0px;
    // height: 0;
    // margin-top: 0;
    @media (max-width: 1600px){
        margin-top: 220px;
        min-height: 920px;
    }
    @media (max-width: 1366px){
        margin-top: 190px;
        min-height: 720px;
    }
    @media (max-width: 1200px){
        margin-top: 160px;
        min-height: 650px;
    }
    @media (max-width: 991px){
        margin-top: 130px;
    }
    @media (max-width: 767px){
        margin-top: 100px;
        min-height: 600px;
    }
    @media screen and (max-width: 575px){
        margin-top: 60px;
        min-height: 850px;
    }
}

.footer{
    margin-top: 260px;
    background: #191A27;
    width: 100%;
    height: 103px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 1600px) {
        margin-top: 160px;
    }
    @media (max-width: 1366px) {
        margin-top: 120px;
    }
    @media screen and (max-width: 575px) {
        margin-top: 60px;
        height: 160px;
    }
    .footer__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        @media screen and (max-width: 575px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    p, a{
        // не тот шрифт
        font-family: 'GTEestiProDisplay-Medium';
        font-weight: 500;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: rgba(124, 125, 141, 0.6);
    }
    p{
        @media (max-width: 1600px) {
            width: 76%;
        }
        @media (max-width: 991px) {
            width: 80%;
        }
        @media screen and (max-width: 575px) {
           width: 100%;
        }
    }
    img{
        width: 113px;
        @media screen and (max-width: 575px) {
           margin-top: 10px;
        }
    }
    a{
        text-decoration: underline;
    }
    .footer__politicsLink{
        @media (max-width: 1600px) {
           padding-top: 5px;
        }
    }
}


