@font-face {
  font-family: 'CR';
  src: url('../fonts/Circe-Regular.eot');
  src: local('Circe'), local('Circe-Regular'),
  url('../fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Circe-Regular.woff2') format('woff2'),
  url('../fonts/Circe-Regular.woff') format('woff'),
  url('../fonts/Circe-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CEL';
  src: url('../fonts/Circe-ExtraLight.eot');
  src: local('Circe ExtraLight'), local('Circe-ExtraLight'),
  url('../fonts/Circe-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Circe-ExtraLight.woff2') format('woff2'),
  url('../fonts/Circe-ExtraLight.woff') format('woff'),
  url('../fonts/Circe-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'CThin';
  src: url('../fonts/Circe-Thin.eot');
  src: local('Circe Thin'), local('Circe-Thin'),
  url('../fonts/Circe-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Circe-Thin.woff2') format('woff2'),
  url('../fonts/Circe-Thin.woff') format('woff'),
  url('../fonts/Circe-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'CL';
  src: url('../fonts/Circe-Light.eot');
  src: local('Circe Light'), local('Circe-Light'),
  url('../fonts/Circe-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Circe-Light.woff2') format('woff2'),
  url('../fonts/Circe-Light.woff') format('woff'),
  url('../fonts/Circe-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'CB';
  src: url('../fonts/Circe-Bold.eot');
  src: local('Circe Bold'), local('Circe-Bold'),
  url('../fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Circe-Bold.woff2') format('woff2'),
  url('../fonts/Circe-Bold.woff') format('woff'),
  url('../fonts/Circe-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'CEB';
  src: url('../fonts/Circe-ExtraBold.eot');
  src: local('Circe ExtraBold'), local('Circe-ExtraBold'),
  url('../fonts/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Circe-ExtraBold.woff2') format('woff2'),
  url('../fonts/Circe-ExtraBold.woff') format('woff'),
  url('../fonts/Circe-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

/***************************************/
/***************************************/
/***************************************/
/***************************************/
@font-face {
  font-family: 'BodyTextTrial-Bold';
  src: url('../fonts/BodyTextTrial-Bold.woff2') format('woff2');
  src: url('../fonts/BodyTextTrial-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BodyTextTrial-Bold.eot'),
  url('../fonts/BodyTextTrial-Bold.woff') format('woff'),
  url('../fonts/BodyTextTrial-Bold.ttf') format('truetype'),
  url('../fonts/BodyTextTrial-Bold.svg#BodyTextTrial-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ACYSB';
  src: url('../fonts/AvertaCY-Semibold.eot');
  src: url('../fonts/AvertaCY-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvertaCY-Semibold.woff2') format('woff2'),
  url('../fonts/AvertaCY-Semibold.woff') format('woff'),
  url('../fonts/AvertaCY-Semibold.ttf') format('truetype'),
  url('../fonts/AvertaCY-Semibold.svg#AvertaCY-Semibold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BTFLI';
  src: url('../fonts/BodyTextFit-LightItalic.eot');
  src: url('../fonts/BodyTextFit-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BodyTextFit-LightItalic.woff2') format('woff2'),
  url('../fonts/BodyTextFit-LightItalic.woff') format('woff'),
  url('../fonts/BodyTextFit-LightItalic.ttf') format('truetype'),
  url('../fonts/BodyTextFit-LightItalic.svg#BodyTextFit-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'ACYR';
  src: url('../fonts/AvertaCY-Regular.eot');
  src: url('../fonts/AvertaCY-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvertaCY-Regular.woff2') format('woff2'),
  url('../fonts/AvertaCY-Regular.woff') format('woff'),
  url('../fonts/AvertaCY-Regular.ttf') format('truetype'),
  url('../fonts/AvertaCY-Regular.svg#AvertaCY-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ACYBI';
  src: url('../fonts/AvertaCY-BoldItalic.eot');
  src: url('../fonts/AvertaCY-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvertaCY-BoldItalic.woff2') format('woff2'),
  url('../fonts/AvertaCY-BoldItalic.woff') format('woff'),
  url('../fonts/AvertaCY-BoldItalic.ttf') format('truetype'),
  url('../fonts/AvertaCY-BoldItalic.svg#AvertaCY-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'ACYLI';
  src: url('../fonts/AvertaCY-LightItalic.eot');
  src: url('../fonts/AvertaCY-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvertaCY-LightItalic.woff2') format('woff2'),
  url('../fonts/AvertaCY-LightItalic.woff') format('woff'),
  url('../fonts/AvertaCY-LightItalic.ttf') format('truetype'),
  url('../fonts/AvertaCY-LightItalic.svg#AvertaCY-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'ACYExtraThinItalic';
  src: url('../fonts/AvertaCY-ExtrathinItalic.eot');
  src: url('../fonts/AvertaCY-ExtrathinItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvertaCY-ExtrathinItalic.woff2') format('woff2'),
  url('../fonts/AvertaCY-ExtrathinItalic.woff') format('woff'),
  url('../fonts/AvertaCY-ExtrathinItalic.ttf') format('truetype'),
  url('../fonts/AvertaCY-ExtrathinItalic.svg#AvertaCY-ExtrathinItalic') format('svg');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'BodyTextFit-BoldItalic';
  src: url('../fonts/BodyTextFit-BoldItalic.eot');
  src: url('../fonts/BodyTextFit-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BodyTextFit-BoldItalic.woff2') format('woff2'),
  url('../fonts/BodyTextFit-BoldItalic.woff') format('woff'),
  url('../fonts/BodyTextFit-BoldItalic.ttf') format('truetype'),
  url('../fonts/BodyTextFit-BoldItalic.svg#BodyTextFit-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'AvertaCY-ExtraboldItalic';
  src: url('../fonts/AvertaCY-ExtraboldItalic.eot');
  src: url('../fonts/AvertaCY-ExtraboldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvertaCY-ExtraboldItalic.woff2') format('woff2'),
  url('../fonts/AvertaCY-ExtraboldItalic.woff') format('woff'),
  url('../fonts/AvertaCY-ExtraboldItalic.ttf') format('truetype'),
  url('../fonts/AvertaCY-ExtraboldItalic.svg#AvertaCY-ExtraboldItalic') format('svg');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'BodyTextTrial-ExtraBold';
  src: url('../fonts/BodyTextTrial-ExtraBold.eot');
  src: url('../fonts/BodyTextTrial-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BodyTextTrial-ExtraBold.woff2') format('woff2'),
  url('../fonts/BodyTextTrial-ExtraBold.woff') format('woff'),
  url('../fonts/BodyTextTrial-ExtraBold.ttf') format('truetype'),
  url('../fonts/BodyTextTrial-ExtraBold.svg#BodyTextTrial-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BodyTextFit-ExtraBoldItalic';
  src: url('../fonts/BodyTextFit-ExtraBoldItalic.eot');
  src: url('../fonts/BodyTextFit-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BodyTextFit-ExtraBoldItalic.woff2') format('woff2'),
  url('../fonts/BodyTextFit-ExtraBoldItalic.woff') format('woff'),
  url('../fonts/BodyTextFit-ExtraBoldItalic.ttf') format('truetype'),
  url('../fonts/BodyTextFit-ExtraBoldItalic.svg#BodyTextFit-ExtraBoldItalic') format('svg');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'AvertaCY-Extrathin';
  src: url('../fonts/AvertaCY-Extrathin.eot');
  src: url('../fonts/AvertaCY-Extrathin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvertaCY-Extrathin.woff2') format('woff2'),
  url('../fonts/AvertaCY-Extrathin.woff') format('woff'),
  url('../fonts/AvertaCY-Extrathin.ttf') format('truetype'),
  url('../fonts/AvertaCY-Extrathin.svg#AvertaCY-Extrathin') format('svg');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GTEestiProDisplay-Medium';
  src: url('../fonts/GTEestiProDisplay-Medium.eot');
  src: url('../fonts/GTEestiProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GTEestiProDisplay-Medium.woff2') format('woff2'),
  url('../fonts/GTEestiProDisplay-Medium.woff') format('woff'),
  url('../fonts/GTEestiProDisplay-Medium.ttf') format('truetype'),
  url('../fonts/GTEestiProDisplay-Medium.svg#GTEestiProDisplay-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BodyTextTrial-ExtraBoldItalic';
  src: url('../fonts/BodyTextTrial-ExtraBoldItalic.eot');
  src: url('../fonts/BodyTextTrial-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BodyTextTrial-ExtraBoldItalic.woff2') format('woff2'),
  url('../fonts/BodyTextTrial-ExtraBoldItalic.woff') format('woff'),
  url('../fonts/BodyTextTrial-ExtraBoldItalic.ttf') format('truetype'),
  url('../fonts/BodyTextTrial-ExtraBoldItalic.svg#BodyTextTrial-ExtraBoldItalic') format('svg');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'AvertaCY-Black';
  src: url('../fonts/AvertaCY-Black.eot');
  src: url('../fonts/AvertaCY-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvertaCY-Black.woff2') format('woff2'),
  url('../fonts/AvertaCY-Black.woff') format('woff'),
  url('../fonts/AvertaCY-Black.ttf') format('truetype'),
  url('../fonts/AvertaCY-Black.svg#AvertaCY-Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GTEestiProDisplay-UltraBold';
  src: url('../fonts/GTEestiProDisplay-UltraBold.eot');
  src: url('../fonts/GTEestiProDisplay-UltraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GTEestiProDisplay-UltraBold.woff2') format('woff2'),
  url('../fonts/GTEestiProDisplay-UltraBold.woff') format('woff'),
  url('../fonts/GTEestiProDisplay-UltraBold.ttf') format('truetype'),
  url('../fonts/GTEestiProDisplay-UltraBold.svg#GTEestiProDisplay-UltraBold') format('svg');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvertaCY-ThinItalic';
  src: url('../fonts/AvertaCY-ThinItalic.eot');
  src: url('../fonts/AvertaCY-ThinItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvertaCY-ThinItalic.woff2') format('woff2'),
  url('../fonts/AvertaCY-ThinItalic.woff') format('woff'),
  url('../fonts/AvertaCY-ThinItalic.ttf') format('truetype'),
  url('../fonts/AvertaCY-ThinItalic.svg#AvertaCY-ThinItalic') format('svg');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'AvertaCY-Thin';
  src: url('../fonts/AvertaCY-Thin.eot');
  src: url('../fonts/AvertaCY-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvertaCY-Thin.woff2') format('woff2'),
  url('../fonts/AvertaCY-Thin.woff') format('woff'),
  url('../fonts/AvertaCY-Thin.ttf') format('truetype'),
  url('../fonts/AvertaCY-Thin.svg#AvertaCY-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BodyTextTrial-BoldItalic';
  src: url('../fonts/BodyTextTrial-BoldItalic.eot');
  src: url('../fonts/BodyTextTrial-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BodyTextTrial-BoldItalic.woff2') format('woff2'),
  url('../fonts/BodyTextTrial-BoldItalic.woff') format('woff'),
  url('../fonts/BodyTextTrial-BoldItalic.ttf') format('truetype'),
  url('../fonts/BodyTextTrial-BoldItalic.svg#BodyTextTrial-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'BodyTextFit-Bold';
  src: url('../fonts/BodyTextFit-Bold.eot');
  src: url('../fonts/BodyTextFit-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BodyTextFit-Bold.woff2') format('woff2'),
  url('../fonts/BodyTextFit-Bold.woff') format('woff'),
  url('../fonts/BodyTextFit-Bold.ttf') format('truetype'),
  url('../fonts/BodyTextFit-Bold.svg#BodyTextFit-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvertaCY-Light';
  src: url('../fonts/AvertaCY-Light.eot');
  src: url('../fonts/AvertaCY-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvertaCY-Light.woff2') format('woff2'),
  url('../fonts/AvertaCY-Light.woff') format('woff'),
  url('../fonts/AvertaCY-Light.ttf') format('truetype'),
  url('../fonts/AvertaCY-Light.svg#AvertaCY-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BodyTextFit-ExtraBold';
  src: url('../fonts/BodyTextFit-ExtraBold.eot');
  src: url('../fonts/BodyTextFit-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BodyTextFit-ExtraBold.woff2') format('woff2'),
  url('../fonts/BodyTextFit-ExtraBold.woff') format('woff'),
  url('../fonts/BodyTextFit-ExtraBold.ttf') format('truetype'),
  url('../fonts/BodyTextFit-ExtraBold.svg#BodyTextFit-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvertaCY-RegularItalic';
  src: url('../fonts/AvertaCY-RegularItalic.eot');
  src: url('../fonts/AvertaCY-RegularItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvertaCY-RegularItalic.woff2') format('woff2'),
  url('../fonts/AvertaCY-RegularItalic.woff') format('woff'),
  url('../fonts/AvertaCY-RegularItalic.ttf') format('truetype'),
  url('../fonts/AvertaCY-RegularItalic.svg#AvertaCY-RegularItalic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'AvertaCY-Extrabold';
  src: url('../fonts/AvertaCY-Extrabold.eot');
  src: url('../fonts/AvertaCY-Extrabold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvertaCY-Extrabold.woff2') format('woff2'),
  url('../fonts/AvertaCY-Extrabold.woff') format('woff'),
  url('../fonts/AvertaCY-Extrabold.ttf') format('truetype'),
  url('../fonts/AvertaCY-Extrabold.svg#AvertaCY-Extrabold') format('svg');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvertaCY-Bold';
  src: url('../fonts/AvertaCY-Bold.eot');
  src: url('../fonts/AvertaCY-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvertaCY-Bold.woff2') format('woff2'),
  url('../fonts/AvertaCY-Bold.woff') format('woff'),
  url('../fonts/AvertaCY-Bold.ttf') format('truetype'),
  url('../fonts/AvertaCY-Bold.svg#AvertaCY-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvertaCY-BlackItalic';
  src: url('../fonts/AvertaCY-BlackItalic.eot');
  src: url('../fonts/AvertaCY-BlackItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvertaCY-BlackItalic.woff2') format('woff2'),
  url('../fonts/AvertaCY-BlackItalic.woff') format('woff'),
  url('../fonts/AvertaCY-BlackItalic.ttf') format('truetype'),
  url('../fonts/AvertaCY-BlackItalic.svg#AvertaCY-BlackItalic') format('svg');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'BodyTextFit-Italic';
  src: url('../fonts/BodyTextFit-Italic.eot');
  src: url('../fonts/BodyTextFit-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BodyTextFit-Italic.woff2') format('woff2'),
  url('../fonts/BodyTextFit-Italic.woff') format('woff'),
  url('../fonts/BodyTextFit-Italic.ttf') format('truetype'),
  url('../fonts/BodyTextFit-Italic.svg#BodyTextFit-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'BodyGrotesqueTrial-BoldItalic';
  src: url('../fonts/BodyGrotesqueTrial-BoldItalic.eot');
  src: url('../fonts/BodyGrotesqueTrial-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BodyGrotesqueTrial-BoldItalic.woff2') format('woff2'),
  url('../fonts/BodyGrotesqueTrial-BoldItalic.woff') format('woff'),
  url('../fonts/BodyGrotesqueTrial-BoldItalic.ttf') format('truetype'),
  url('../fonts/BodyGrotesqueTrial-BoldItalic.svg#BodyGrotesqueTrial-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'AvertaCY-SemiboldItalic';
  src: url('../fonts/AvertaCY-SemiboldItalic.eot');
  src: url('../fonts/AvertaCY-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvertaCY-SemiboldItalic.woff2') format('woff2'),
  url('../fonts/AvertaCY-SemiboldItalic.woff') format('woff'),
  url('../fonts/AvertaCY-SemiboldItalic.ttf') format('truetype'),
  url('../fonts/AvertaCY-SemiboldItalic.svg#AvertaCY-SemiboldItalic') format('svg');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'BodyTextLarge-LightItalic';
  src: url('../fonts/BodyTextLarge-LightItalic.eot');
  src: url('../fonts/BodyTextLarge-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BodyTextLarge-LightItalic.woff2') format('woff2'),
  url('../fonts/BodyTextLarge-LightItalic.woff') format('woff'),
  url('../fonts/BodyTextLarge-LightItalic.ttf') format('truetype'),
  url('../fonts/BodyTextLarge-LightItalic.svg#BodyTextLarge-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'BodyTextSlimTrial-Regular';
  src: url('../fonts/BodyTextSlimTrial-Regular.eot');
  src: url('../fonts/BodyTextSlimTrial-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BodyTextSlimTrial-Regular.woff2') format('woff2'),
  url('../fonts/BodyTextSlimTrial-Regular.woff') format('woff'),
  url('../fonts/BodyTextSlimTrial-Regular.ttf') format('truetype'),
  url('../fonts/BodyTextSlimTrial-Regular.svg#BodyTextSlimTrial-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BodyTextFit-Light';
  src: url('../fonts/BodyTextFit-Light.eot');
  src: url('../fonts/BodyTextFit-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BodyTextFit-Light.woff2') format('woff2'),
  url('../fonts/BodyTextFit-Light.woff') format('woff'),
  url('../fonts/BodyTextFit-Light.ttf') format('truetype'),
  url('../fonts/BodyTextFit-Light.svg#BodyTextFit-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BodyTextSlimTrial-LightItalic';
  src: url('../fonts/BodyTextSlimTrial-LightItalic.eot');
  src: url('../fonts/BodyTextSlimTrial-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BodyTextSlimTrial-LightItalic.woff2') format('woff2'),
  url('../fonts/BodyTextSlimTrial-LightItalic.woff') format('woff'),
  url('../fonts/BodyTextSlimTrial-LightItalic.ttf') format('truetype'),
  url('../fonts/BodyTextSlimTrial-LightItalic.svg#BodyTextSlimTrial-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'BodyTextFit-Regular';
  src: url('../fonts/BodyTextFit-Regular.eot');
  src: url('../fonts/BodyTextFit-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BodyTextFit-Regular.woff2') format('woff2'),
  url('../fonts/BodyTextFit-Regular.woff') format('woff'),
  url('../fonts/BodyTextFit-Regular.ttf') format('truetype'),
  url('../fonts/BodyTextFit-Regular.svg#BodyTextFit-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BodyTextTrial-Regular';
  src: url('../fonts/BodyTextTrial-Regular.eot');
  src: url('../fonts/BodyTextTrial-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BodyTextTrial-Regular.woff2') format('woff2'),
  url('../fonts/BodyTextTrial-Regular.woff') format('woff'),
  url('../fonts/BodyTextTrial-Regular.ttf') format('truetype'),
  url('../fonts/BodyTextTrial-Regular.svg#BodyTextTrial-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BodyTextLarge-ExtraBoldItalic';
  src: url('../fonts/BodyTextLarge-ExtraBoldItalic.eot');
  src: url('../fonts/BodyTextLarge-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BodyTextLarge-ExtraBoldItalic.woff2') format('woff2'),
  url('../fonts/BodyTextLarge-ExtraBoldItalic.woff') format('woff'),
  url('../fonts/BodyTextLarge-ExtraBoldItalic.ttf') format('truetype'),
  url('../fonts/BodyTextLarge-ExtraBoldItalic.svg#BodyTextLarge-ExtraBoldItalic') format('svg');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'BodyTextSlimTrial-Italic';
  src: url('../fonts/BodyTextSlimTrial-Italic.eot');
  src: url('../fonts/BodyTextSlimTrial-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BodyTextSlimTrial-Italic.woff2') format('woff2'),
  url('../fonts/BodyTextSlimTrial-Italic.woff') format('woff'),
  url('../fonts/BodyTextSlimTrial-Italic.ttf') format('truetype'),
  url('../fonts/BodyTextSlimTrial-Italic.svg#BodyTextSlimTrial-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'BodyTextLarge-ExtraBold';
  src: url('../fonts/BodyTextLarge-ExtraBold.eot');
  src: url('../fonts/BodyTextLarge-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BodyTextLarge-ExtraBold.woff2') format('woff2'),
  url('../fonts/BodyTextLarge-ExtraBold.woff') format('woff'),
  url('../fonts/BodyTextLarge-ExtraBold.ttf') format('truetype'),
  url('../fonts/BodyTextLarge-ExtraBold.svg#BodyTextLarge-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BodyTextLarge-Regular';
  src: url('../fonts/BodyTextLarge-Regular.eot');
  src: url('../fonts/BodyTextLarge-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BodyTextLarge-Regular.woff2') format('woff2'),
  url('../fonts/BodyTextLarge-Regular.woff') format('woff'),
  url('../fonts/BodyTextLarge-Regular.ttf') format('truetype'),
  url('../fonts/BodyTextLarge-Regular.svg#BodyTextLarge-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BodyTextLarge-Italic';
  src: url('../fonts/BodyTextLarge-Italic.eot');
  src: url('../fonts/BodyTextLarge-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BodyTextLarge-Italic.woff2') format('woff2'),
  url('../fonts/BodyTextLarge-Italic.woff') format('woff'),
  url('../fonts/BodyTextLarge-Italic.ttf') format('truetype'),
  url('../fonts/BodyTextLarge-Italic.svg#BodyTextLarge-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'BodyTextSlimTrial-BoldItalic';
  src: url('../fonts/BodyTextSlimTrial-BoldItalic.eot');
  src: url('../fonts/BodyTextSlimTrial-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BodyTextSlimTrial-BoldItalic.woff2') format('woff2'),
  url('../fonts/BodyTextSlimTrial-BoldItalic.woff') format('woff'),
  url('../fonts/BodyTextSlimTrial-BoldItalic.ttf') format('truetype'),
  url('../fonts/BodyTextSlimTrial-BoldItalic.svg#BodyTextSlimTrial-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'BodyTextLarge-BoldItalic';
  src: url('../fonts/BodyTextLarge-BoldItalic.eot');
  src: url('../fonts/BodyTextLarge-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BodyTextLarge-BoldItalic.woff2') format('woff2'),
  url('../fonts/BodyTextLarge-BoldItalic.woff') format('woff'),
  url('../fonts/BodyTextLarge-BoldItalic.ttf') format('truetype'),
  url('../fonts/BodyTextLarge-BoldItalic.svg#BodyTextLarge-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'BodyTextLarge-Light';
  src: url('../fonts/BodyTextLarge-Light.eot');
  src: url('../fonts/BodyTextLarge-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BodyTextLarge-Light.woff2') format('woff2'),
  url('../fonts/BodyTextLarge-Light.woff') format('woff'),
  url('../fonts/BodyTextLarge-Light.ttf') format('truetype'),
  url('../fonts/BodyTextLarge-Light.svg#BodyTextLarge-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BodyTextTrial-LightItalic';
  src: url('../fonts/BodyTextTrial-LightItalic.eot');
  src: url('../fonts/BodyTextTrial-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BodyTextTrial-LightItalic.woff2') format('woff2'),
  url('../fonts/BodyTextTrial-LightItalic.woff') format('woff'),
  url('../fonts/BodyTextTrial-LightItalic.ttf') format('truetype'),
  url('../fonts/BodyTextTrial-LightItalic.svg#BodyTextTrial-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'BodyTextSlimTrial-ExtraBoldItal';
  src: url('../fonts/BodyTextSlimTrial-ExtraBoldItal.eot');
  src: url('../fonts/BodyTextSlimTrial-ExtraBoldItal.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BodyTextSlimTrial-ExtraBoldItal.woff2') format('woff2'),
  url('../fonts/BodyTextSlimTrial-ExtraBoldItal.woff') format('woff'),
  url('../fonts/BodyTextSlimTrial-ExtraBoldItal.ttf') format('truetype'),
  url('../fonts/BodyTextSlimTrial-ExtraBoldItal.svg#BodyTextSlimTrial-ExtraBoldItal') format('svg');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'BodyTextLarge-Bold';
  src: url('../fonts/BodyTextLarge-Bold.eot');
  src: url('../fonts/BodyTextLarge-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BodyTextLarge-Bold.woff2') format('woff2'),
  url('../fonts/BodyTextLarge-Bold.woff') format('woff'),
  url('../fonts/BodyTextLarge-Bold.ttf') format('truetype'),
  url('../fonts/BodyTextLarge-Bold.svg#BodyTextLarge-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BodyTextTrial-Light';
  src: url('../fonts/BodyTextTrial-Light.eot');
  src: url('../fonts/BodyTextTrial-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BodyTextTrial-Light.woff2') format('woff2'),
  url('../fonts/BodyTextTrial-Light.woff') format('woff'),
  url('../fonts/BodyTextTrial-Light.ttf') format('truetype'),
  url('../fonts/BodyTextTrial-Light.svg#BodyTextTrial-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BodyTextSlimTrial-Bold';
  src: url('../fonts/BodyTextSlimTrial-Bold.eot');
  src: url('../fonts/BodyTextSlimTrial-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BodyTextSlimTrial-Bold.woff2') format('woff2'),
  url('../fonts/BodyTextSlimTrial-Bold.woff') format('woff'),
  url('../fonts/BodyTextSlimTrial-Bold.ttf') format('truetype'),
  url('../fonts/BodyTextSlimTrial-Bold.svg#BodyTextSlimTrial-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BodyTextSlimTrial-ExtraBold';
  src: url('../fonts/BodyTextSlimTrial-ExtraBold.eot');
  src: url('../fonts/BodyTextSlimTrial-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BodyTextSlimTrial-ExtraBold.woff2') format('woff2'),
  url('../fonts/BodyTextSlimTrial-ExtraBold.woff') format('woff'),
  url('../fonts/BodyTextSlimTrial-ExtraBold.ttf') format('truetype'),
  url('../fonts/BodyTextSlimTrial-ExtraBold.svg#BodyTextSlimTrial-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}




// Контурный


/* Миксины для шрифтов */
// Circe
.CR {
  font-family: 'CR', sans-serif;
}

.CEL {
  font-family: 'CEL', sans-serif;
}

.CB {
  font-family: 'CB', sans-serif;
}

.CEB {
  font-family: 'CEB', sans-serif;
}

.CThin {
  font-family: 'CThin', sans-serif;
}

.CL {
  font-family: 'CL', sans-serif;
}

// Body Text
.BTTB {
  font-family: 'BodyTextTrial-Bold', sans-serif;
}

.ACYSB {
  font-family: 'ACYSB', sans-serif;
}

.BTFLI {
  font-family: 'BTFLI', sans-serif;
}

.AR {
  font-family: 'ACYR', sans-serif;
}

.ACYBI {
  font-family: 'ACYBI', sans-serif;
}

.ACYLI {
  font-family: 'ACYLI', sans-serif;
}

.ACYExtraThinItalic {
  font-family: 'ACYExtraThinItalic', sans-serif;
}

.BodyTextFit-BoldItalic {
  font-family: 'BodyTextFit-BoldItalic', sans-serif;
}

.AvertaCY-ExtraboldItalic {
  font-family: 'AvertaCY-ExtraboldItalic', sans-serif;
}

.BodyTextTrial-ExtraBold {
  font-family: 'BodyTextTrial-ExtraBold', sans-serif;
}

.BodyTextFit-ExtraBoldItalic {
  font-family: 'BodyTextFit-ExtraBoldItalic', sans-serif;
}

.AvertaCY-Extrathin {
  font-family: 'AvertaCY-Extrathin', sans-serif;
}

.GTEestiProDisplay-Medium {
  font-family: 'GTEestiProDisplay-Medium', sans-serif;
}

.BodyTextTrial-ExtraBoldItalic {
  font-family: 'BodyTextTrial-ExtraBoldItalic', sans-serif;
}

.AvertaCY-Black {
  font-family: 'AvertaCY-Black', sans-serif;
}

.GTEestiProDisplay-UltraBold {
  font-family: 'GTEestiProDisplay-UltraBold', sans-serif;
}

.AvertaCY-ThinItalic {
  font-family: 'AvertaCY-ThinItalic', sans-serif;
}

.AvertaCY-Thin {
  font-family: 'AvertaCY-Thin', sans-serif;
}

.BodyTextTrial-BoldItalic {
  font-family: 'BodyTextTrial-BoldItalic', sans-serif;
}

.BodyTextFit-Bold {
  font-family: 'BodyTextFit-Bold', sans-serif;
}

.AvertaCY-Light {
  font-family: 'AvertaCY-Light', sans-serif;
}

.BodyTextFit-ExtraBold {
  font-family: 'BodyTextFit-ExtraBold', sans-serif;
}

.AvertaCY-RegularItalic {
  font-family: 'AvertaCY-RegularItalic', sans-serif;
}

.AvertaCY-Extrabold {
  font-family: 'AvertaCY-Extrabold', sans-serif;
}

.AvertaCY-Bold {
  font-family: 'AvertaCY-Bold', sans-serif;
}

.AvertaCY-BlackItalic {
  font-family: 'AvertaCY-BlackItalic', sans-serif;
}

.BodyTextFit-Italic{
  font-family: 'BodyTextFit-Italic', sans-serif;
}

.BodyGrotesqueTrial-BoldItalic {
  font-family: 'BodyGrotesqueTrial-BoldItalic', sans-serif;
}

.AvertaCY-SemiboldItalic {
  font-family: 'AvertaCY-SemiboldItalic', sans-serif;
}

.BodyTextLarge-LightItalic {
  font-family: 'BodyTextLarge-LightItalic', sans-serif;
}

.BodyTextSlimTrial-Regular {
  font-family: 'BodyTextSlimTrial-Regular', sans-serif;
}

.BodyTextFit-Light {
  font-family: 'BodyTextFit-Light', sans-serif;
}

.BodyTextSlimTrial-LightItalic {
  font-family: 'BodyTextSlimTrial-LightItalic', sans-serif;
}

.BodyTextFit-Regular {
  font-family: 'BodyTextFit-Regular', sans-serif;
}

.BodyTextTrial-Regular {
  font-family: 'BodyTextTrial-Regular', sans-serif;
}

.BodyTextLarge-ExtraBoldItalic {
  font-family: 'BodyTextLarge-ExtraBoldItalic', sans-serif;
}

.BodyTextSlimTrial-Italic {
  font-family: 'BodyTextSlimTrial-Italic', sans-serif;
}

.BodyTextLarge-ExtraBold {
  font-family: 'BodyTextLarge-ExtraBold', sans-serif;
}

.BodyTextLarge-Regular {
  font-family: 'BodyTextLarge-Regular', sans-serif;
}

.BodyTextLarge-Italic {
  font-family: 'BodyTextLarge-Italic', sans-serif;
}

.BodyTextSlimTrial-BoldItalic {
  font-family: 'BodyTextSlimTrial-BoldItalic', sans-serif;
}

.BodyTextLarge-BoldItalic {
  font-family: 'BodyTextLarge-BoldItalic', sans-serif;
}

.BodyTextLarge-Light {
  font-family: 'BodyTextLarge-Light', sans-serif;
}

.BodyTextTrial-LightItalic {
  font-family: 'BodyTextTrial-LightItalic', sans-serif;
}

.BodyTextSlimTrial-ExtraBoldItal {
  font-family: 'BodyTextSlimTrial-ExtraBoldItal', sans-serif;
}
/**/

.BodyTextLarge-Bold {
  font-family: 'BodyTextLarge-Bold', sans-serif;
}

.BodyTextTrial-Light {
  font-family: 'BodyTextTrial-Light', sans-serif;
}

.BodyTextSlimTrial-ExtraBoldItal {
  font-family: 'BodyTextSlimTrial-ExtraBoldItal', sans-serif;
}

.BodyTextSlimTrial-ExtraBoldItal {
  font-family: 'BodyTextSlimTrial-ExtraBoldItal', sans-serif;
}

.BodyTextSlimTrial-ExtraBoldItal {
  font-family: 'BodyTextSlimTrial-ExtraBoldItal', sans-serif;
}

.BodyTextSlimTrial-ExtraBoldItal {
  font-family: 'BodyTextSlimTrial-ExtraBoldItal', sans-serif;
}

.BodyTextSlimTrial-ExtraBoldItal {
  font-family: 'BodyTextSlimTrial-ExtraBoldItal', sans-serif;
}

.BodyTextSlimTrial-ExtraBoldItal {
  font-family: 'BodyTextSlimTrial-ExtraBoldItal', sans-serif;
}

.BodyTextSlimTrial-ExtraBoldItal {
  font-family: 'BodyTextSlimTrial-ExtraBoldItal', sans-serif;
}

.BodyTextSlimTrial-ExtraBoldItal {
  font-family: 'BodyTextSlimTrial-ExtraBoldItal', sans-serif;
}