footer.big_footer {
  background: @dark;
  overflow: hidden;
}

.footer__first-line {
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);

  h3.footer__first-line__header {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    .AR;
    text-align: center;
    margin-top: 62px;
    margin-bottom: 15px;
  }

  .footer__first-line__phone {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 62px;

    .icon_phone {
      width: 30px;
      height: 30px;
      display: inline-block;
      background: url('../img/phone_contur_white.svg') center center / cover no-repeat no-repeat;
      margin-right: 23px;
    }

    .num_phone {
      font-style: normal;
      font-weight: 500;
      font-size: 37px;
      line-height: 43px;
      letter-spacing: 0.05em;
      color: #FFFFFF;
      .AR;
    }
  }
}

.footer_flex_wrap {
  display: flex;
  justify-content: space-between;

  .footer__first-column {
    margin-top: 78px;
    margin-bottom: 78px;
    margin-right: 60px;

    .footer__first-column__head {
      font-style: normal;
      font-weight: 800;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.22em;
      text-transform: uppercase;
      color: #FFFFFF;
      .CEB;
      margin-bottom: 35px;
    }

    .footer-wrap-link {

      .footer-link__li {
        margin-bottom: 10px;

        .footer-link__a {
          font-style: normal;
          font-weight: normal;
          font-size: 17px;
          line-height: 45px;
          letter-spacing: 0.01em;
          color: #7C7D8D;
          display: inline-block;
          text-decoration: none;
          .GTEestiProDisplay-Medium;
        }
      }
    }
  }

  .footer__second-column {
    margin-top: 78px;
    margin-bottom: 78px;
    margin-right: 60px;

    .footer__second-column__head {
      font-style: normal;
      font-weight: 800;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.22em;
      text-transform: uppercase;
      color: #FFFFFF;
      .CEB;
      margin-bottom: 35px;
    }

    .footer-under-head {

      .footer-under-head__icon {
        width: 20px;
        height: 20px;
        display: inline-block;
        background: url('../img/phone_white.svg') center center / cover no-repeat no-repeat;
        margin-right: 21px;
      }

      .footer-under-head__text {
        .CR;
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 25px;
        color: #FFFFFF;
        display: block;
      }
    }
  }
}

.footer-wrap-second-column__phone {
  margin-top: 20px;
  margin-bottom: 20px;

  .footer-second-column__li {

    .footer-second-column__a {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 43px;
      letter-spacing: 0.04em;
      color: #7C7D8D;
      .CB;
    }
  }
}

.footer__email {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 43px;
  letter-spacing: 0.04em;
  color: #7C7D8D;
  .CB;
  display: block;
  flex-basis: 100%;
  margin-bottom: 45px;
}

.footer-under-head {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .footer-under-head__iconEmail {
    width: 21px;
    height: 13px;
    display: inline-block;
    background: url(../img/email_white.png) center center / cover no-repeat no-repeat;
    margin-right: 21px;
  }

  .footer-under-head__iconRupor {
    width: 24px;
    height: 22px;
    display: inline-block;
    background: url(../img/rupor.png) center center / cover no-repeat no-repeat;
    margin-right: 21px;
  }
}

.footer__third-column {
  margin-top: 136px;
  margin-bottom: 78px;

  .footer-under-head {

    .footer-under-head__text {
      .CR;
      font-style: normal;
      font-weight: bold;
      font-size: 17px;
      line-height: 25px;
      color: #FFFFFF;
      display: block;
    }

    .iconListPlus {
      width: 21px;
      height: 24px;
      display: inline-block;
      background: url(../img/list_plus.png) center center / cover no-repeat no-repeat;
      margin-right: 21px;
    }

    .iconUserPlus {
      width: 21px;
      height: 26px;
      display: inline-block;
      background: url(../img/user_plus.png) center center / cover no-repeat no-repeat;
      margin-right: 21px;
    }

    .iconManyUsers {
      width: 23px;
      height: 19px;
      display: inline-block;
      background: url(../img/many_user.png) center center / cover no-repeat no-repeat;
      margin-right: 21px;
    }

    .iconHands {
      width: 25px;
      height: 18px;
      display: inline-block;
      background: url(../img/hands.png) center center / cover no-repeat no-repeat;
      margin-right: 21px;
    }
  }
}

.footer__fourth-column {
  margin-top: 78px;
  margin-bottom: 78px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  ul.four-icon-social {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .four-icon-social__li {
      .tel {
        width: 23px;
        height: 23px;
        display: inline-block;
        background: url(../img/telegram.png) center center / cover no-repeat no-repeat;
        margin-right: 21px;
      }

      .we {
        width: 24px;
        height: 24px;
        display: inline-block;
        background: url(../img/wechat.png) center center / cover no-repeat no-repeat;
        margin-right: 21px;
      }

      .whats {
        width: 22px;
        height: 22px;
        display: inline-block;
        background: url(../img/whatsapp.png) center center / cover no-repeat no-repeat;
        margin-right: 21px;
      }

      .inst {
        width: 27px;
        height: 27px;
        display: inline-block;
        background: url(../img/inst.png) center center / cover no-repeat no-repeat;
        margin-right: 21px;
      }
    }
  }
}

.footer__up {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;

  &:hover .wrapper_footer__upCircle .footer__upCircle .footer__upIcon {
    background: url('../img/arrow_right_white.png') center center / cover no-repeat no-repeat;
    transition: all .3s;
  }

  &:hover .wrapper_footer__upCircle .footer__upCircle {
    transition: all .3s;
    background: @red;
    color: #fff;
    width: 46px;
    height: 46px;
  }

  .wrapper_footer__upCircle {
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    margin-right: 25px;

    .footer__upCircle {
      //border: 1px solid rgba(255, 75, 108, 0.23);
      box-sizing: border-box;
      width: 0;
      height: 0;
      border-radius: 46px;
      text-align: center;
      transition: all .3s;
      line-height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: visible;

      .footer__upIcon {
        display: inline-block;
        height: 16px;
        width: 22px;
        color: @dark;
        font-weight: bold;
        font-size: 20px;
        transform: rotate(-90deg);
        background: url('../img/arrow_right_red.png') center center / cover no-repeat no-repeat;
        transition: all .3s;
        position: absolute;
      }
    }
  }

  .our-project__watchAllText {
    .CR;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #7C7D8D;
    display: inline-block;
    .AR;
    transition: all .3s;
  }
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.12);

  .align_items_center {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-bottom__left {
    margin-top: 32px;
    margin-bottom: 32px;
    color: rgba(124, 125, 141, 0.6);

    .footer-bottom__text {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      color: rgba(124, 125, 141, 0.6);
      .GTEestiProDisplay-Medium;
    }

    .footer-bottom__link {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      color: rgba(124, 125, 141, 0.6);
      .GTEestiProDisplay-Medium;
      text-decoration: underline;
    }
  }

  .footer-bottom__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .footer-bottom__right__icon {
      width: 26px;
      height: 30px;
      display: inline-block;
      background: url(../img/vily.png) center center / cover no-repeat no-repeat;
      margin-right: 15px;
    }

    .footer-bottom__right__text {
      max-width: 70px;

      .footer-bottom__right_text_first_line {
        font-size: 13px;
        line-height: 17px;
        .CR;
        color: rgba(124, 125, 141, 0.6);
      }

      .footer-bottom__right_text_second_line {
        font-size: 13px;
        line-height: 17px;
        .CR;
        color: rgba(124, 125, 141, 0.6);
      }
    }
  }
}
