.form__title{
    display: flex;
    flex-direction: column;
    h2{
        font-family: 'AvertaCY-Black';
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        color: #282937;
        
        @media (max-width: 1600px){
            font-size: 36px;
        }
        @media (max-width: 1366px){
            font-size: 32px;
        }
        @media (max-width: 1200px){
            font-size: 27px;
        }
        @media (max-width: 991px){
            font-size: 24px;
        }
        @media (max-width: 767px){
            font-size: 20px;
        }
        @media screen and (max-width: 575px){
            font-size: 18px;
        }
    }
    p{
        font-family: 'CB';
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        letter-spacing: 0.22em;
        text-transform: uppercase;
        color: #282937;
        margin-top: 17px;
        margin-bottom: 55px;
        @media (max-width: 1600px){
            font-size: 14px;
            margin-top: 15px;
        }
        @media (max-width: 1366px){
            font-size: 13px;
            margin-top: 12px;
        }
        @media (max-width: 991px){
            font-size: 12px;
        }
        @media screen and (max-width: 575px){
            font-size: 11px;
        }
    }
}
.form__white{
    min-width: 80%;
    width: 1549px;
    height: 701px;
    background: #FFFFFF;
    position: absolute; 
    float: left;
    z-index: 1;
    overflow-y: hidden; 
    overflow: hidden; 
    @media (max-width: 1600px) {
        min-width: auto;
        max-width: 1320px;
        width: 80%;
        height: 620px;
    }
    @media (max-width: 1366px) {
        height: 520px;
    }
    @media (max-width: 991px) {
       width: 100%;
    }
    @media screen and (max-width: 575px){
        height: 720px;
    }
}

.tabs__title{
    display: flex;
    cursor: pointer;
    margin-top: 70px;
    position: relative;
    @media (max-width: 1600px){
        margin-top: 60px;
    }
    @media (max-width: 1366px){
        margin-top: 40px;
    }
    @media (max-width: 1200px){
        margin-top: 40px;
    }
    @media (max-width: 767px){
        margin-top: 30px;
    }
    @media screen and (max-width: 575px){
        margin-top: 20px;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .tab__item{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 25px;
        padding-right: 25px;
        margin-right: 25px;
        font-family: 'ACYSB';
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        color: #7D7E8A;
        height: 54px;
        background: #F3F3F3;
        border-radius: 4px;
        @media (max-width: 1600px){
            font-size: 16px;
        }
        @media (max-width: 1366px){
            font-size: 14px;
            padding-left: 20px;
            padding-right: 20px;
            margin-right: 20px;
            height: 48px;
        }
        @media (max-width: 1200px){
            padding-left: 15px;
            padding-right: 15px;
            margin-right: 15px;
            height: 48px;
        }
        @media (max-width: 767px){
            padding-left: 10px;
            padding-right: 10px;
            margin-right: 10px;
            text-align: center;
            line-height: 120%;
            font-size: 12px;
        }
        @media screen and (max-width: 575px){
            margin-right: 0px;
            width: 47%;
            margin-bottom: 20px;
        }
    }
}
.tabs__title .tab__item:nth-child(2),
.tabs__title .tab__item:nth-child(3){
    @media screen and (max-width: 575px){
        margin-bottom: 0px;
    }
}
#tabs .whiteborder {
    background: none; 
    border: 1px solid #F6173F;
    border: none;
    color: #F6173F;
    border: 1px solid #F6173F;
    box-sizing: border-box;
}
#tabs .tabContent {
    display: flex;
    width: 100%;
    position: relative;
    z-index: 1;
}
#tabs .hide {
    visibility: hidden;
    position: absolute;
    opacity: 0;
}
#tabs .show {
    //transition: 2s;
    position: absolute;
    visibility: visible;
    -webkit-transition: opacity 1.5s ease-in-out;
    -moz-transition: opacity 1.5s ease-in-out;
    -o-transition: opacity 1.5s ease-in-out;
    transition: opacity 1.5s ease-in-out;

}

.form{
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    @media (max-width: 1600px){
        margin-top: 60px;
    }
    @media (max-width: 1366px){
        margin-top: 50px;
    }
}

.form__left{
    display: flex;
    flex-direction: column;
    width: 45%;
    @media screen and (max-width: 575px){
        width: 100%;
    }
}
.form__center{
    display: flex;
    justify-content: center;
    width: 10%;
    @media screen and (max-width: 575px){
        width: 100%;
        margin-top: 30px;
        margin-bottom: 20px;
        justify-content: flex-start;
    }
    p{
        font-family: 'CL';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        color: #AEAEAE;
        padding-bottom: 10px;
        @media (max-width: 1600px){
            font-size: 18px;
        }
        @media (max-width: 1366px){
            font-size: 16px;
        }
        @media (max-width: 991px){
            font-size: 14px;
        }
        @media screen and (max-width: 575px){
            font-size: 12px;
        }
    }
}
.form__wrapper{
    width: 1177px;
    @media (max-width: 1600px){
        width: 1000px;
    }
    @media (max-width: 1366px){
        width: 870px;
    }
    @media (max-width: 1200px){
        width: 730px;
    }
    @media (max-width: 991px){
        width: 100%;
    }
    @media screen and (max-width: 575px){
       flex-direction: column;
    }
}
.form__all{
    width: 100%;
    margin-top: 60px;
    @media (max-width: 1600px){
        margin-top: 50px;
    }
    @media (max-width: 1366px){
        margin-top: 40px;
    }
}
.form__right{
    display: flex;
    flex-direction: column;
    width: 45%;
    @media screen and (max-width: 575px){
        width: 100%;
    }
}
.form__input{
    position: relative;
    border: none;
    width: 100%;
    cursor: pointer;
    background: inherit;
    opacity: 0.6;
    border-bottom: 1px solid #474958;
    margin-bottom: 50px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    @media (max-width: 1600px){
      margin-bottom: 40px;
    }
    @media (max-width: 1366px){
      margin-bottom: 35px;
      padding-bottom: 10px;
    }
    @media (max-width: 1200px){
      margin-bottom: 30px;
    }
    @media (max-width: 991px){
      margin-bottom: 25px;
    }
    @media screen and (max-width: 575px){
        margin-bottom: 20px;
    }
    input{
        display: flex;
        width: 100%;
        height: 100%;
        border: none;
        background: inherit;
        font-family: 'CL';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        color: #4F5168;
        @media (max-width: 1600px) {
            font-size: 16px;
        }
        @media (max-width: 1366px) {
            font-size: 14px;
        }
        @media (max-width: 767px) {
            font-size: 12px;
        }
    }
}
.form__left .form__input:nth-child(2), 
.form__right .form__input:nth-child(2),
.form__all .form__input:nth-child(1){
    margin-bottom: 0px;
}
input {outline:none;}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }
input[type="file"]{
    display: none;
}
.file {
    width: 100%;
    display: flex;
    margin-top: 55px;
    @media (max-width: 1600px){
        margin-top: 40px;
    }
    @media (max-width: 1366px){
        margin-top: 30px;
    }
    @media screen and (max-width: 575px){
        margin-top: 20px;
    }
    &__label {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      cursor: pointer;
      span{
        color: #F6173F;
        font-family: 'ACYSB';
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        @media (max-width: 1600px) {
            font-size: 16px;
        }
        @media (max-width: 1366px) {
            font-size: 14px;
        }
        @media (max-width: 767px) {
            font-size: 12px;
        }
        @media screen and (max-width: 575px) {
            font-size: 11px;
        }
      }
    }
    &__text {
      display: flex;
    }
    &__img {
        width: 46px;
        margin-right: 16px;
    }
}
.send{
    display: flex;
    align-items: center;
    margin-top: 52px;
    @media (max-width: 1600px) {
        margin-top: 35px;
    }
    @media (max-width: 1366px) {
        margin-top: 30px;
    }
    @media screen and (max-width: 575px) {
        margin-top: 15px;
        flex-direction: column;
        align-items: flex-start;
    }
}
.form__btn{
    width: 287px;
    height: 56px;
    background: #F6173F;
    border-radius: 4px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'ACYSB';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    @media (max-width: 1600px) {
        font-size: 16px;
        width: 270px;
    }
    @media (max-width: 1366px) {
        font-size: 14px;
        width: 250px;
    }
    @media (max-width: 767px) {
        font-size: 12px;
        width: 160px;
    }
    @media screen and (max-width: 575px) {
        font-size: 11px;
    }
    img{
        margin-left: 20px;
        @media (max-width: 991px) {
            margin-left: 15px;
            width: 20px;
        }
        @media (max-width: 767px) {
            margin-left: 10px;
            width: 15px;
        }
        @media screen and (max-width: 575px) {
            margin-left: 10px;
        }
    }
}
.form__send, .form__sendPolitics{
    font-family: 'CL';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #7D7E8A;
    margin-left: 60px;
    width: 40%;
    @media (max-width: 1600px) {
        margin-left: 50px;
        width: 50%;
    }
    @media (max-width: 1366px) {
        margin-left: 40px;
        width: 60%;
    }
    @media (max-width: 1366px) {
        margin-left: 30px;
        width: 50%;
        font-size: 12px;
    }
    @media (max-width: 1200px) {
        width: 60%;
    }
    @media (max-width: 767px) {
        margin-left: 15px;
        width: 100%;
        font-size: 11px;
    }
    @media screen and (max-width: 575px) {
      margin-top: 20px;
      margin-left: 0;
    }
    .form__sendPolitics{
        margin-left: 0px;
        text-decoration: underline;
    }
}

.modal__startProject {
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    background: #FFFFFF;
    top: 120px;
    width: 1211px;
    z-index: 999;
    padding-top: 80px;
    padding-left: 95px;
    padding-right: 220px;
    padding-bottom: 95px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.4s linear;
    transition: 0.4s linear;
    @media (max-width: 1600px) {
        width: 1000px;
        padding-top: 70px;
        padding-right: 160px;
        padding-bottom: 80px;
        top: 100px;
    }
    @media (max-width: 1366px) {
        width: 900px;
        padding-top: 60px;
        padding-right: 140px;
        padding-bottom: 60px;
        padding-left: 80px;
        top: 70px;
    }
    @media (max-width: 1200px) {
        width: 800px;
        padding-top: 50px;
        padding-right: 110px;
        padding-bottom: 60px;
        padding-left: 60px;
        top: 60px;
    }
    @media (max-width: 991px) {
        width: 100%;
        height: 100%;
        padding-top: 50px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        top: 0px;
    }
    @media screen and (max-width: 575px) {
        padding-top: 30px;
    }
    h2 {
        font-family: 'BodyTextTrial-ExtraBold';
        font-style: normal;
        font-display: swap;
        font-weight: 800;
        font-size: 40px;
        letter-spacing: 0.035em;
        text-transform: uppercase;
        color: #282937;
        box-sizing: border-box;
        @media (max-width: 1600px) {
            font-size: 36px;
        }
        @media (max-width: 1366px) {
            font-size: 32px;
        }
        @media (max-width: 1200px) {
            font-size: 28px;
        }
        @media (max-width: 991px) {
            font-size: 24px;
        }
        @media (max-width: 767px) {
            font-size: 20px;
        }
        @media screen and (max-width: 575px) {
            font-size: 18px;
        }
    }
    .close__modalStartProject {
        position: absolute;
        top: 45px;
        right: 45px;
        cursor: pointer;
        @media (max-width: 1366px) {
            width: 30px;
        }
        @media (max-width: 1200px) {
            width: 25px;
        }
        @media screen and (max-width: 575px) {
            width: 15px;
            top: 30px;
            right: 30px;
        }
    }
    .form {
        margin-top: 0;
    }
    .form__wrapper {
        width: 100%;
    }
    .form__all {
        -webkit-box-pack: justify;
        justify-content: space-between;
        display: flex;
        @media screen and (max-width: 575px) {
           flex-direction: column;
           margin-top: 0;
         }
    }
    .form__all .form__input-2 {
        width: 45%;
        @media screen and (max-width: 575px){
            width: 100%;
        }
    }
    .form__all {
        @media screen and (max-width: 575px){
            margin-top: 40px;
        }
    }
    .form__all .form__input:nth-child(1),
    .form__all .form__input:nth-child(2) {
        margin-bottom: 0px;
    }
    .form__send, .form__sendPolitics {
        width: 55%;
        @media (max-width: 1600px) {
            width: 100%;
        }
        @media (max-width: 991px) {
            width: 60%;
        }
        @media (max-width: 767px) {
            width: 70%;
        }
        @media screen and (max-width: 575px) {
            width: 100%;
        }
    }
    .form__send {
        @media (max-width: 1600px) {
            margin-left: 20px;
        }
        @media screen and (max-width: 575px) {
            margin-left: 0px;
        }
    }
}
.showModal {
    position: absolute;
    visibility: visible;
    -webkit-transition: opacity 0.7s ease-in-out;
    transition: opacity 0.7s ease-in-out;
    opacity: 1;
}

.place_holder {
    z-index: 100;    
    cursor: text;   
    position: absolute;
    width: 100%;  
    height: 100%;  
    display: none;
    color: #545252;

}

.placeinput input:invalid + .place_holder {
    display: flex;
    align-items: center;
    font-weight: normal;
}

.placeinput {
    position: relative;
    overflow: hidden;
    @media screen and (max-width: 575px) {
        margin-top: 40px;
    }
}

.placeinput input:focus + .place_holder {
    display: none;
}

.place_holder span {
    color: red;
}

.place_holder{

    z-index: 100;    
    cursor: text;   
    position: absolute;
    width: 100%;  
    height: 100%;  
    display: none;
    color: #545252;

    display: flex;
    width: 100%;
    height: 100%;
    border: none;
    background: inherit;
    font-family: 'CL';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: #4F5168;
    @media (max-width: 1600px) {
        font-size: 16px;
    }
    @media (max-width: 1366px) {
        font-size: 14px;
    }
    @media (max-width: 767px) {
        font-size: 12px;
    }

}
.placeinput input:valid + .place_holder {
   display: none;
 }