.horse {
  margin-top: 350px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;

  .sm-block({ flex-wrap: wrap; justify-content: center; });

  .horse__left {
    max-width: 821px;

    .horse__text {
      font-weight: 300;
      font-size: 22px;
      .AvertaCY-Light;

      .sm-block({ font-size: 20px; });
    }

    .horse-link {
      max-width: 240px;
      min-width: 240px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 75px;
      text-decoration: none;
      transition: all .3s;
      height: 46px;

      .sm-block({ margin: 45px auto; max-width: 220px; });

      &__text {
        display: inline-block;
        color: @red;
        font-weight: 600;
        font-size: 18px;
        .AR;
        transition: all .3s;
      }

      &:hover .wrap_with_horse_link .wrap_horse-link__icon .horse-link__icon {
        transition: all .3s;
        background: url('../img/arrow_right_white.png') center center / cover no-repeat no-repeat;
      }

      &:hover .wrap_with_horse_link .wrap_horse-link__icon {
        transition: all .3s;
        background: @red;
        color: #fff;
        width: 46px;
        height: 46px;
      }

      .wrap_with_horse_link {
        width: 46px;
        height: 46px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .3s;

        .wrap_horse-link__icon {
          width: 0;
          height: 0;
          border-radius: 46px;
          text-align: center;
          transition: all .3s;
          line-height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: visible;


          .horse-link__icon {
            display: inline-block;
            height: 16px;
            width: 22px;
            color: @dark;
            font-weight: bold;
            font-size: 20px;
            position: relative;
            z-index: 1000;
            min-width: 22px;
            transition: all .3s;
            background: url('../img/arrow_right_red.png') center center / cover no-repeat no-repeat;
          }
        }
      }
    }
  }
}

.bla {
  display: flex;

  .bla__left {
    .bla__text {
      font-weight: 800;
      font-size: 64px;
      white-space: nowrap;
      .BodyTextLarge-ExtraBold;
      //color: #F7F7F7;
      //text-shadow: 1px 1px 0 @dark, -1px -1px 0 @dark, -1px 1px 0 @dark, 1px -1px 0 @dark;
      color: @red;
      font-display: swap;
      text-transform: uppercase;
      -webkit-text-stroke: 2px @red;
      -webkit-text-fill-color: #F7F7F7;

      .sm-block({ font-size: 35px; });
    }

    .fil_red {
      font-weight: 800;
      font-size: 64px;
      color: @red;
      white-space: nowrap;
      margin-top: -9px;
      margin-bottom: -14px;
      .BodyTextLarge-ExtraBold;

      .sm-block({ font-size: 35px; });
    }
  }

  .bla__right {
    margin-top: 300px;
    margin-left: -220px;
    display: flex;
    flex-wrap: nowrap;
    .sm-block({ margin-top: 130px; margin-left: -10%; });

    .bla__img {
      margin-right: 170px;
      min-width: 164px;
      width: 164px;
      height: 164px;

      .sm-block({ width: 40px; height: 40px; margin-right: 50px; });
    }
  }
}

.wrap-ticker-smile {
  max-width: 100%;
  overflow-x: hidden;
  border-top: 2px solid @red;
  border-bottom: 2px solid @red;
  padding: 15px 0;
  margin: 165px auto;

  .ticker-smile {
    display: flex;
    transition: all .3s;
    scroll-behavior: smooth;
    animation: 60s linear 0s infinite normal text_left;

    .ticker-smile__text {
      font-weight: 600;
      font-size: 24px;
      white-space: nowrap;
      margin-right: 30px;
      .AR;
    }

    .ticker-smile__icon {
      height: 25px;
      width: 25px;
      display: inline-block;
      margin-right: 30px;

      img {
        min-width: 25px;
        display: inline-block;
        animation: linear rotate_dashed infinite 5s;
      }
    }
  }
}

@keyframes rotate_dashed {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes reduce {
  0% {

  }
  100% {
    width: 0;
    height: 0;
    min-width: 0;
    min-height: 0;
    opacity: 0;
  }
}

.opacity {
  opacity: 0;
  transition: opacity .3s;
}

.bla_img_eye1,
.bla_img_eye2,
.bla_img_eye3,
.bla_img_eye4 {
  transform: translateX(20px);
  opacity: 0;
}

