.section {
  display: flex;
  justify-content: flex-start;
  width: calc(100vw + 24.6vw);
  height: 100vh;
  overflow: hidden;
  transition: all 2000ms cubic-bezier(0.645, 0.065, 0.370, 0.905);
  //transition: all 1000ms cubic-bezier(0.905, -0.600, 0.085, 1.600);
  transform: translateX(100vw);
  //opacity: .9;

  .bg_left {
    height: 100vh;
    display: block;
    background: #f5f5f5;
    width: 24.6vw;
    //transition: all 1s;
    transition: all 1000ms cubic-bezier(0.645, 0.065, 0.370, 0.905);
  }

  .outer {
    width: 75.4vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;

    .logo__wrap {
      margin-top: 52px;
      margin-left: 76px;
      display: block;
      position: absolute;
      top: 0%;
      left: 0%;

      .logo__link {
        background: url('../img/logo.svg') center center / cover no-repeat no-repeat;
        width: 59px;
        height: 58px;
        display: inline-block;
      }
    }

    .wrap_description_violet {
      margin: auto 0 auto 15%;
      display: inline-block;
      position: relative;
      z-index: 3;

      //opacity: 0;

      /* Билборд */
      #metro_png {
        position: absolute;
        right: -10%;
        top: -49%;
        display: block;
        background: url('../img/metro.png') center center / cover no-repeat no-repeat; //634 749
        width: 748px;
        height: 709px;
        z-index: 1;
        opacity: 0;
        transition: all .7s;
      }

      .main_header {
        &__fill {
          text-transform: uppercase;
          color: #fff;
          font-size: 45px;
          display: block;
          .BodyTextLarge-ExtraBold;
          font-weight: bold;
        }

        &__empty {
          text-transform: uppercase;
          color: #6A64FF;
          text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff;
          font-size: 45px;
          display: block;
          .BodyTextLarge-ExtraBold;
          font-weight: bold;
        }
      }

      .list_statistics {
        width: 377px;
        margin-top: 50px;

        &__item {
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;

          span.list_statistics__text,
          span.list_statistics__num {
            color: #fff;
            font-size: 18px;
            .AR;
          }

          span.list_statistics__num {
            .CEB;
          }
        }
      }
    }
  }
}

/* Белый фон */
.nav-block {
  width: 24.6vw;
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
  opacity: 0;
  transition: opacity .3s;

  &__head {
    margin-top: 57px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .run_project {
      padding-top: 10px;
      padding-bottom: 10px;
      text-decoration: none;
      font-size: 13px;
      display: inline-block;
      width: 190px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.055em;
    }

    .sandwich {
      width: 31px;
      height: 15px;
      border-top: 2px solid #282937;
      border-bottom: 2px solid #282937;
      display: inline-block;
    }
  }

  .integer {
    margin-top: auto;
    display: block;
    font-size: 36px;
    font-weight: 600;
    text-align: right;
    margin-right: 10%;
    .AR;
    margin-bottom: 27%;
    transition: none;
  }

  .nav-block__bottom {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15%;

    .go_over {
      font-size: 18px;
      .AR;
      color: #282937;
      text-decoration: none;
    }

    .arrow_down {
      width: 15px;
      height: 27px;
      display: inline-block;
      background: url('../img/arrow_down.png') center center / cover no-repeat no-repeat;
    }
  }
}

.wrap_ticker_violet_ {
  display: block;
  width: 100%;
  position: absolute;
  bottom: -7%;
  z-index: 2;
  overflow: hidden;

  .ticker_violet_ {
    white-space: nowrap;
    animation: 60s linear 0s infinite normal text_left;

    .ticker__text_violet {
      font-size: 400px;
      font-weight: bold;
      //color: rgba(70, 67, 217, 0.2);
      color: #7150ff;
      opacity: 1;
      .BodyTextLarge-ExtraBold;
      white-space: nowrap;
      text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff;
    }
  }
}
