.section_spam_out {
  display: flex;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transition: all 2000ms cubic-bezier(0.645, 0.065, 0.370, 0.905);
  transform: translateX(0vw);

  .outer_spam_out {
    margin: 0 auto;
    width: 50vw;
    //width: 75.4vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    transition: width 1s;

    .logo__wrap {
      margin-top: 52px;
      margin-left: 76px;
      display: block;
      position: absolute;
      top: 0%;
      left: 0%;

      .logo__link {
        background: url('../img/logo.svg') center center / cover no-repeat no-repeat;
        width: 59px;
        height: 58px;
        display: inline-block;
      }
    }

    .wrap_description {
      margin: auto 0 auto 15%;
      display: inline-block;
      position: relative;
      z-index: 3;
      transition: opacity .5s;
      opacity: 0;

      .item_wrap_eye {
        position: absolute;
        right: -3%;
        top: 82%;
        width: 419px;
        height: 357px;

        .sm-block({ top: -57%; right: auto; left: 140px; width: 150px; height: 130px; });

        .wrap_eyes {
          width: 100%;
          height: 100%;
          position: relative;
          opacity: 0;

          .eye1 {
            display: inline-block;
            width: 108px;
            height: 72px;
            position: absolute;
            top: 110px;
            left: 19px;
            opacity: 0;
            transition: opacity .3s;
            .sm-block({ width: 30px; height: 25px; top: 122px; });
          }

          .eye2 {
            display: inline-block;
            width: 134px;
            height: 89px;
            position: absolute;
            top: 110px;
            left: 156px;
            opacity: 0;
            transition: opacity .3s;
            .sm-block({ width: 30px; height: 25px; left: 65px; });
          }

          .eye3 {
            display: inline-block;
            width: 134px;
            height: 90px;
            position: absolute;
            top: 70px;
            right: 14px;
            opacity: 0;
            transition: opacity .3s;
            .sm-block({ width: 36px; height: 30px; top: 92px; right: 10px; });
          }

          .eye4 {
            display: inline-block;
            width: 108px;
            height: 72px;
            position: absolute;
            bottom: 22px;
            right: 145px;
            opacity: 0;
            transition: opacity .3s;
            .sm-block({ width: 30px; height: 25px; right: 90px; });
          }

          .eye5 {
            display: inline-block;
            width: 134px;
            height: 89px;
            position: absolute;
            bottom: 62px;
            right: 37px;
            opacity: 0;
            transition: opacity .3s;
            .sm-block({ width: 30px; height: 25px; bottom: 54px; right: 55px; });
          }

          .eye6 {
            display: inline-block;
            width: 72px;
            height: 48px;
            position: absolute;
            bottom: 140px;
            right: 10px;
            opacity: 0;
            transition: opacity .3s;
            .sm-block({ width: 30px; height: 25px; bottom: 56px; });
          }
        }

      }

      /* Билборд */
      &::after {
        content: '';
        position: absolute;
        right: 10%;
        top: -18%;
        display: block;
        background: url('../img/билборд.svg') center center / cover no-repeat no-repeat; //634 749
        width: 634px;
        height: 749px;
        z-index: 1;

        .sm-block({ right: auto; left: 0; top: -59%; width: 141px; height: 167px; z-index: 0; });
      }

      /* Стая глаз */
      /*&::before {
        content: '';
        position: absolute;
        right: -3%;
        top: 82%;
        display: block;
        background: url('../img/глаза.svg') center center / cover no-repeat no-repeat; //634 749
        width: 419px;
        height: 357px;
        z-index: 5;
      }*/

      .main_header {
        &__fill {
          text-transform: uppercase;
          color: #fff;
          font-size: 45px;
          display: block;
          .BodyTextLarge-ExtraBold;
          font-weight: bold;

          .sm-block({ font-size: 35px; });
        }

        &__empty {
          text-transform: uppercase;
          color: @red;
          text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff;
          font-size: 45px;
          display: block;
          .BodyTextLarge-ExtraBold;
          font-weight: bold;

          .sm-block({ font-size: 35px; });
        }
      }

      .list_statistics {
        width: 377px;
        margin-top: 50px;
        .sm-block({ margin-top: 25px; width: 280px; });

        &__item {
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;

          .sm-block({ margin-bottom: 14px; });

          span.list_statistics__text,
          span.list_statistics__num {
            color: #fff;
            font-size: 18px;

            .sm-block({ font-size: 16px; });
            .AR;
          }

          span.list_statistics__num {
            .sm-block({ font-size: 16px; });
            .CEB;
          }
        }
      }
    }
  }
}

.link_more_details {
  margin-top: 30px;
  text-decoration: none;
  width: 377px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  .sm-block({ padding-top: 7px; padding-bottom: 7px; border-top: 1px solid #fff; border-bottom: 1px solid #fff; width: 280px; });

  &__text {
    color: #fff;
    font-size: 18px;
    .AR;

    .sm-block({ font-size: 16px; });
  }

  &:hover .link_more_details__icon {
    width: 63px;
    height: 46px;
    background: url('../img/arrow_right_white.png') center center / cover no-repeat no-repeat;
    transition: all .2s;
  }

  &__icon {
    width: 47px;
    height: 46px;
    background: url('../img/arrow_right_circle_white.png') center center / cover no-repeat no-repeat;
    display: inline-block;
    text-align: center;
    transition: all .2s;

    .sm-block({ width: 29px; height: 29px; });
  }
}

/* Белый фон */
.nav-block_spam_out {
  width: 0;
  overflow: hidden;
  //width: 24.6vw;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  background: #f5f5f5;

  .bg_nav1 {
    position: absolute;
    background: #f5f5f5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    display: none;
  }

  .nav-block__head {
    margin-top: 57px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 1;

    .run_project {
      padding-top: 10px;
      padding-bottom: 10px;
      text-decoration: none;
      font-size: 13px;
      display: inline-block;
      width: 190px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.055em;
    }

    .sandwich {
      width: 31px;
      height: 15px;
      border-top: 2px solid #282937;
      border-bottom: 2px solid #282937;
      display: inline-block;
    }
  }

  .integer {
    margin-top: auto;
    display: block;
    font-size: 36px;
    font-weight: 600;
    text-align: right;
    margin-right: 10%;
    .AR;
    margin-bottom: 27%;
    position: relative;
    z-index: 1;
  }

  .nav-block__bottom {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15%;
    position: relative;
    z-index: 1;

    .go_over {
      font-size: 18px;
      .AR;
      color: #282937;
      text-decoration: none;
    }

    .arrow_down {
      width: 15px;
      height: 27px;
      display: inline-block;
      background: url('../img/arrow_down.png') center center / cover no-repeat no-repeat;
    }
  }
}

.wrap_ticker {
  display: block;
  width: 100%;
  position: absolute;
  bottom: -7%;
  z-index: 2;
  overflow: hidden;
  transition: bottom 1s;

  .ticker {
    white-space: nowrap;
    animation: 60s linear 0s infinite normal text_left;

    &__text {
      font-size: 400px;
      font-weight: bold;
      color: darken(@red, 3%);
      opacity: 1;
      .BodyTextLarge-ExtraBold;
      white-space: nowrap;
    }
  }
}

.run_project {
  .BodyTextTrial-ExtraBold !important;
}
