.section {
  display: flex;
  justify-content: flex-start;
  height: 100vh;

  .outer {
    width: 75.4vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    .logo__wrap {
      margin-top: 52px;
      margin-left: 76px;
      display: block;
      position: absolute;
      top: 0%;
      left: 0%;

      .logo__link {
        background: url('../img/logo.svg') center center / cover no-repeat no-repeat;
        width: 59px;
        height: 58px;
        display: inline-block;
      }
    }

    .wrap_description_yellow {
      margin: auto 0 auto 15%;
      display: inline-block;
      position: relative;
      z-index: 3;

      .banane1 {
        position: absolute;
        right: 15%;
        top: -6%;
        display: block;
        background: url('../img/banane_full.png') center center / cover no-repeat no-repeat;
        width: 642px;
        height: 703px;
        z-index: 1;
        transition: all .5s;
      }

      .banane2 {
        position: absolute;
        left: -14%;
        bottom: -68%;
        transform: rotate(45deg);
        display: block;
        background: url(../img/banane1.png) center center / cover no-repeat no-repeat;
        width: 162px;
        height: 200px;
        z-index: 1;
        transition: all .5s;
      }

      .banane3 {
        position: absolute;
        right: 6%;
        top: 63%;
        transform: rotate(45deg);
        display: block;
        background: url(../img/banane3.png) center center / cover no-repeat no-repeat;
        width: 99px;
        height: 85px;
        z-index: 1;
        transition: all .5s;
      }

      .banane4 {
        position: absolute;
        left: 38%;
        top: -44%;
        transform: rotate(45deg);
        display: block;
        background: url(../img/banane2.png) center center / cover no-repeat no-repeat;
        width: 82px;
        height: 85px;
        z-index: 1;
        transition: all .5s;
      }

      .banane5 {
        position: absolute;
        left: 53%;
        top: 50%;
        transform: rotate(45deg);
        display: block;
        background: url(../img/banane2.png) center center / cover no-repeat no-repeat;
        width: 99px;
        height: 85px;
        z-index: 1;
        transition: all .5s;
        opacity: 0;
      }

      .main_header {
        position: relative;

        &__fill {
          text-transform: uppercase;
          color: #fff;
          font-size: 45px;
          display: block;
          .BodyTextLarge-ExtraBold;
          font-weight: bold;
        }

        &__empty {
          text-transform: uppercase;
          color: #FFC122;
          text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff;
          font-size: 45px;
          display: block;
          .BodyTextLarge-ExtraBold;
          font-weight: bold;
        }
      }

      .list_statistics {
        width: 377px;
        margin-top: 50px;

        &__item {
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;

          span.list_statistics__text,
          span.list_statistics__num {
            color: #fff;
            font-size: 18px;
            .AR;
          }

          span.list_statistics__num {
            .CEB;
          }
        }
      }
    }
  }
}

/* Белый фон */
.nav-block {
  width: 24.6vw;
  display: flex;
  flex-direction: column;
  background: #f5f5f5;

  &__head {
    margin-top: 57px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .sandwich {
      width: 31px;
      height: 15px;
      border-top: 2px solid #282937;
      border-bottom: 2px solid #282937;
      display: inline-block;
    }
  }

  .integer {
    margin-top: auto;
    display: block;
    font-size: 36px;
    font-weight: 600;
    text-align: right;
    margin-right: 10%;
    .AR;
    margin-bottom: 27%;
  }

  .nav-block__bottom {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15%;

    .go_over {
      font-size: 18px;
      .AR;
      color: #282937;
      text-decoration: none;
    }

    .arrow_down {
      width: 15px;
      height: 27px;
      display: inline-block;
      background: url('../img/arrow_down.png') center center / cover no-repeat no-repeat;
    }
  }
}

.wrap_ticker_yellow {
  display: block;
  width: 100%;
  position: absolute;
  bottom: -7%;
  z-index: 2;
  overflow: hidden;

  .ticker_yellow {
    white-space: nowrap;
    animation: 60s linear 0s infinite normal text_left;

    .ticker__text_yellow {
      font-size: 400px;
      font-weight: bold;
      color: #f6ba21;
      opacity: 1;
      .BodyTextLarge-ExtraBold;
      white-space: nowrap;
      text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff;
    }
  }
}
