@import "font";
@import "smart-grid";
@import "var";
@import "index";
@import "index1";
@import "index2";
@import "index3";
@import "index4";
@import "index5";
@import "index6";
@import "index7";
@import "index8";
@import "index9";
@import "index10";
@import "main_page";
@import "horse";
@import "contact";
@import "menuLight";
@import "form";
@import "places";
@import "our_project";
@import "footer";
@import "form";
@import "project";

* {
  box-sizing: border-box;
  .reset();
}

.debug {
  .debug(rgba(118, 112, 137, 0), 1px solid #4AFFFF);
}

.wrapper {
  .wrapper();
}

/*.wrapper-full {
  .wrapper-full();
}*/

.wrapper_full {
  width: 99vw;
  height: 100vh;
  overflow: hidden;
}

html,
body {
  height: auto;
  position: relative;
  z-index: 0;
  padding: 0.01px;
  display: block;
  background: #F7F7F7;
  scroll-behavior: smooth;
}

.display_none {
  display: none;
}

.position_relative {
  position: relative;
}

.br_red {
  background: radial-gradient(45.23% 116.56% at 47.19% 43.94%, rgba(255, 79, 106, 0.85) 6.39%, rgba(246, 23, 63, 0) 85.01%), #F6173F;
}

.br_violet {
  background: radial-gradient(56.48% 120.26% at 52.73% 67.77%, #6486FF 0%, rgba(169, 60, 255, 0) 100%), #6E49FF;
}

.br_green {
  background: radial-gradient(34.74% 69.45% at 69.39% 55.35%, #26FA7B 0%, rgba(25, 214, 101, 0) 100%), #13D560;
}

.br_darkblue {
  background: radial-gradient(54.6% 97.88% at 47.1% 17.93%, rgba(69, 88, 252, 0.8) 0%, rgba(24, 45, 234, 0) 100%), #182DEA;
}

.br_yellow {
  background: radial-gradient(30.69% 96.65% at 64.9% 84.22%, #FFD645 0%, rgba(246, 219, 113, 0) 100%), #FFC122;
}

.br_orange {
  background: radial-gradient(58.54% 120.93% at 57.56% 61.44%, #FF8652 0%, rgba(255, 118, 41, 0) 100%), #FF6F1E;
}

.br_pink {
  background: radial-gradient(34.56% 92.65% at 58.46% 52.1%, rgba(255, 145, 198, 0.696) 0%, rgba(244, 51, 144, 0) 100%), #F54584;
}

.br_blue {
  background: radial-gradient(77.64% 77.64% at 50% 54.56%, #3DADFF 0%, rgba(26, 147, 235, 0) 100%), #4BACF3;
}

.br_biruza {
  background: radial-gradient(43.51% 75.03% at 53.36% 52%, rgba(94, 255, 252, 0.68) 0%, rgba(33, 223, 220, 0) 100%), #16CCC9;
}

.br_purple {
  background: radial-gradient(62.78% 87.81% at 50% 50%, #AD33F8 0%, rgba(141, 25, 212, 0) 100%), #8D19D5;
}

.br_limon {
  background: radial-gradient(52.58% 75.24% at 57.63% 62.8%, rgba(180, 242, 78, 0.8) 0%, rgba(152, 217, 88, 0) 100%), #89D042;
}

.red {
  color: @red !important;
}

.color_red {
  color: @red;
  border-top: 1px solid @red;
  border-bottom: 1px solid @red;
}

.color_green {
  color: @green;
  border-top: 1px solid @green;
  border-bottom: 1px solid @green;
}

.color_violet {
  color: @violet;
  border-top: 1px solid @violet;
  border-bottom: 1px solid @violet;
}

.color_darkblue {
  color: @darkblue;
  border-top: 1px solid @darkblue;
  border-bottom: 1px solid @darkblue;
}

.color_yellow {
  color: @yellow;
  border-top: 1px solid @yellow;
  border-bottom: 1px solid @yellow;
}

.color_orange {
  color: @orange;
  border-top: 1px solid @orange;
  border-bottom: 1px solid @orange;
}

.color_pink {
  color: @pink;
  border-top: 1px solid @pink;
  border-bottom: 1px solid @pink;
}

.color_blue {
  color: @blue;
  border-top: 1px solid @blue;
  border-bottom: 1px solid @blue;
}

.color_biruza {
  color: @biruza;
  border-top: 1px solid @biruza;
  border-bottom: 1px solid @biruza;
}

.color_purple {
  color: @purple;
  border-top: 1px solid @purple;
  border-bottom: 1px solid @purple;
}

.color_limon {
  color: @limon;
  border-top: 1px solid @limon;
  border-bottom: 1px solid @limon;
}

.color_white {
  color: #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

/* Анимация вращения */
@keyframes rotate_dashed {

  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Кручение кресла с собакой */
@keyframes rotate_dogy_pink {
  0% {
    transform: rotate(0) scale(0.1);
  }

  100% {
    transform: rotate(720deg) scale(1);
  }
}

/* Анимация увеличения и уменьшения */
@keyframes max_min {
  0% {
    transform: scale(0.1);
    opacity: .1;
  }

  50% {
    transform: scale(1.13);
    opacity: .9;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Анимация приезда метро */
@keyframes move_on_right {
  0% {
    right: -10%;
    opacity: .1;
  }

  100% {
    right: 0%;
    opacity: 1;
  }
}
@keyframes move_on_right_polygraf {
  0% {
    right: -10%;
    opacity: .1;
  }

  100% {
    right: 8%;
    opacity: 1;
  }
}

/* Анимация приезда метро */
@keyframes move_on_left {
  0% {
    right: 37%;
    top: -90%;
    opacity: .1;
    transform: scale(0.1);
  }

  100% {
    right: 7%;
    top: -42%;
    opacity: 1;
    transform: scale(1);
  }
}

/* Анимация приезда метро */
@keyframes move_on_right_bus {
  0% {
    right: -37%;
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    right: -17%;
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes move_on_up {
  0% {
    top: -0%;
    opacity: 0;
  }

  100% {
    top: -42%;
    opacity: 1;
  }
}

/* Анимация полу вращения */
@keyframes minus100 {
  0% {
    right: auto;
    left: 0;
    z-index: 1;
  }

  100% {
    right: auto;
    left: -100%;
    z-index: -1;
  }
}

/* Анимация увеличения */
@keyframes increase_ {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1.13);
    opacity: 1;
  }
}

/* Анимация уменьшения */
@keyframes reduce_ {
  0% {
    transform: scale(1.13);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Анимация с чёрно белого на цветной */
@keyframes grayscale_tv {
  0% {
    filter: grayscale(100%);
    transform: rotate(0deg);
  }

  20% {
    filter: grayscale(10%);
    transform: rotate(7deg);
  }

  30% {
    transform: rotate(5deg);
  }

  40% {
    filter: grayscale(100%);
  }

  30% {
    transform: rotate(-5deg);
  }

  60% {
    filter: grayscale(80%);
    transform: rotate(0deg);
  }

  70% {
    filter: grayscale(10%);
  }

  80% {
    filter: grayscale(100%);
    transform: rotate(-7deg);
  }

  90% {
    filter: grayscale(70%);
    transform: rotate(5deg);
  }

  100% {
    filter: grayscale(0%);
    transform: rotate(0deg);
  }
}

@keyframes text_left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-7200px);
  }
}

@keyframes text_right {
  0% {
    transform: translateX(-7200px);
  }

  100% {
    transform: translateX(0);
  }
}

.dn {
  display: none !important;
}

#whiteSandwich {
  width: 31px;
  height: 12px;
  margin-top: 10px;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
}