.wrap_first_line {
  display: flex;
  justify-content: space-between;
}

.logo_wrap_main {
  display: flex;
  margin-top: 50px;

  .logo__link_black {
    background: url('../img/logo_black.svg') center center / cover no-repeat no-repeat;
    width: 55px;
    height: 55px;
    display: none;
  }

  .logo_text {
    text-transform: uppercase;
    font-size: 20px;
    .BodyTextLarge-ExtraBold;
  }
}

.select_lang {
  display: flex;
  align-items: baseline;
  margin-top: 50px;

  .select_lang__link {
    text-decoration: none;
    font-size: 16px;
    color: #282937;
    .AR;
    margin-right: 20px;
    font-weight: 600;
  }

  .active {
    border: 1px solid #282937;
    width: 46px;
    height: 46px;
    border-radius: 46px;
    display: inline-block;
    text-align: center;
    line-height: 42px;
  }
}

.right_link {
  display: flex;
  margin-top: 50px;

  .nav-link__head {
    .run_project {
      padding-top: 10px;
      padding-bottom: 10px;
      text-decoration: none;
      font-size: 13px;
      display: inline-block;
      width: 190px;
      text-align: center;
      text-transform: uppercase;
      margin-right: 100px;
      letter-spacing: 0.055em;
    }

    .sandwich {
      width: 31px;
      height: 15px;
      border-top: 2px solid @dark;
      border-bottom: 2px solid @dark;
      display: inline-block;
    }
  }
}

/* Обёртка для отцентровки ZZ и подложки, для обрезания движущихся строк */
.wrap_oh_w100 {
  display: block;
  width: 100%;
  min-height: 100vh;
  //overflow: hidden;
  position: relative;
}

.wrap_logo_center {
  //position: relative;
  //z-index: 100;
/*  width: 400px;
  height: 400px;
  margin: 5% auto 0;
  top: calc(50% - 450px);
  left: calc(50% - 200px);
  */
  margin: -248px 0 0 0;
  width: 100%;
  height: calc(100% + 150px);
  background: @red;
  text-align: center;
  line-height: 440px;
  box-shadow: 20px 20px 110px lighten(@red, 15%);
  position: absolute;
  z-index: 9;

  .sm-block({ width: 250px; height: 250px; line-height: 275px; top: calc(50% - 250px); left: calc(50% - 100px); });
}

.logo_center {
  position: absolute;
  overflow: hidden;
  width: 400px;
  height: 400px;
  transition: none;
  text-align: center;
  //margin: 20% auto 0;
  margin: 0 auto;
  top: 13.7%;
  left: calc(50% - 200px);
  z-index: 9;

  .sm-block({ width: 250px; height: 250px; });

  .logo_center__text {
    text-align: center;
    font-size: 250px;
    color: #fff;
    width: 400px;
    height: 400px;
    display: flex;
    margin: 34px auto 0;
    justify-content: center;
    .CEB;

    .sm-block({ width: 250px; height: 250px; font-size: 125px; });
  }
}

.wrapper_white_dashed_circle {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .white_dashed_circle {
    border: 2px dashed #f7f7f7;
    height: 120px;
    width: 120px;
    border-radius: 120px;
    position: absolute;
    right: -61px;
    bottom: -61px;
    z-index: 1;
    visibility: hidden;
  }
}

.wrap_eye {
  display: inline-block;
  height: 107px;
  width: 107px;
  border-radius: 107px;
  background: #282937;
  line-height: 130px;
  position: absolute;
  right: -54px;
  bottom: -54px;
  z-index: 0;
  opacity: 0;
  transition: width, height .5s;

  .wrap_border_dashed {
    position: relative;
    transition: none;

    #eye {
      display: inline-block;
      width: 0;
      height: 0;
      text-align: center;
      background: url('../img/eye_not_pupil.png') center center / cover no-repeat no-repeat;
      line-height: 57px;
      transition: none;
      opacity: 0;
    }

    .border_dashed {
      border: 2px dashed @red;
      height: 120px;
      width: 120px;
      border-radius: 120px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      animation: linear rotate_dashed infinite 8s;
      position: absolute;
      right: -7px;
      bottom: 16px;
      transition: none;
    }
  }
}

#pupil {
  height: 21px;
  width: 21px;
  border-radius: 21px;
  background: @red;
  display: inline-block;
  position: relative;
  transform: translate(0px, -9px);
  transition: all .2s;

  #dot {
    content: '';
    height: 7px;
    width: 7px;
    display: inline-block;
    border-radius: 7px;
    background: #282937;
    position: absolute;
    top: 7px;
    left: 7px;
  }
}

.run_strings {
  display: block;
  position: absolute;
  top: -4270px;
  transform: translate(-1400px, 0) skew(2deg, -7deg);
  white-space: nowrap;
  opacity: 0.9;
  overflow: hidden;
  transition: all .3s;

  .run_stringsL,
  .run_stringsR,
  .run_stringsLL,
  .run_stringsRR {
    margin-bottom: 33px;
    //color: #f7f7f7;
    //text-shadow: 1px 1px 0 @dark, -1px -1px 0 @dark, -1px 1px 0 @dark, 1px -1px 0 @dark;
    text-transform: uppercase;
    .BodyTextLarge-ExtraBold;
    font-size: 85px;
    font-weight: 800;
    white-space: nowrap;
    transition: all .3s;
    -webkit-text-stroke: 2px #868686;
    color: #868686;
    -webkit-text-fill-color: rgb(247, 247, 247);
  }
}

.oh {
  overflow: hidden;
}

.full-wrapper {
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
  //width: 100vw;
}

/* Меню за пользователем */
#menu_fixed {
  position: fixed;
  width: 100%;
  padding-right: 100px;
  padding-left: 100px;
  z-index: 1010;

  .logo_wrap_main {
    .logo__link_black {
      display: block;
      background: url('../img/logo.svg') center center / cover no-repeat no-repeat;
    }

    .logo_text {
      display: none;
    }
  }

  .sandwich {
    width: 31px;
    height: 15px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    display: inline-block;
  }

  .color_red {
    color: white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }
}

#menu_fixed_second {
  position: fixed;
  width: 100%;
  padding-right: 100px;
  padding-left: 100px;
  z-index: 1010;

  .logo_wrap_main {
    .logo__link_black {
      display: block;
    }

    .logo_text {
      display: none;
    }
  }

  .select_lang {
    display: none;
  }
}

/* 11 слайдов */

.wrapp_eleven {
  background: #f7f7f7;
  position: relative;
  z-index: 1011;
}

.eleven {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  min-width: 100vw;
  min-height: 100vh;
  height: 100vh;
  position: relative;
  z-index: 1;

  .section_width {
    position: absolute;
    top: 0;
    /*transform: translateX(0);*/
    z-index: 1;

    &:not(:first-child) {
      left: auto;
      right: -100%;
      //transform: translateX(100%);
      z-index: 0;
    }
  }
  /*  overflow-y: hidden;
    overflow-x: auto;*/
}

#nav-block_white {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 23.5vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  //background: #f5f5f5;
  z-index: 1;
  opacity: 0;
  transition: opacity .3s;

  .nav-block__head {
    .run_project {
      padding-top: 10px;
      padding-bottom: 10px;
      text-decoration: none;
      font-size: 13px;
      .BodyTextLarge-ExtraBold;
      display: inline-block;
      width: 190px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.055em;
    }

    .sandwich {
      width: 31px;
      height: 15px;
      border-top: 2px solid #fff;
      border-bottom: 2px solid #fff;
      display: inline-block;
    }
  }

  .integer {
    transition: none;
    margin-top: auto;
    display: block;
    font-size: 36px;
    font-weight: 600;
    text-align: right;
    margin-right: 6.8%;
    .AR;
    margin-bottom: 27%;
    color: #fff;

    #num_list {
      font-size: 36px;
      font-weight: 600;
      text-align: right;
      .AR;
      color: #fff;
    }
  }

  .nav-block__bottom {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15%;

    .go_over {
      font-size: 18px;
      .AR;
      text-decoration: none;
      color: #fff;
    }

    .arrow_down {
      width: 24px;
      height: 12px;
      display: inline-block;
      transform: rotate(90deg);
      background: url('../img/arrow_right_white.png') center center / cover no-repeat no-repeat;
    }
  }
}

.nav-block_white_inside {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 23.5vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  //background: #f5f5f5;
  z-index: 3;
  opacity: 0;
  transition: opacity .3s;

  .nav-block__head {
    .run_project {
      padding-top: 10px;
      padding-bottom: 10px;
      text-decoration: none;
      font-size: 13px;
      .BodyTextLarge-ExtraBold;
      display: inline-block;
      width: 190px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.055em;
    }

    .sandwich {
      width: 31px;
      height: 15px;
      border-top: 2px solid #fff;
      border-bottom: 2px solid #fff;
      display: inline-block;
    }
  }

  .integer {
    transition: none;
    margin-top: auto;
    display: block;
    font-size: 36px;
    font-weight: 600;
    text-align: right;
    margin-right: 6.8%;
    .AR;
    margin-bottom: 27%;
    color: #fff;

    #num_list {
      font-size: 36px;
      font-weight: 600;
      text-align: right;
      .AR;
      color: #fff;
    }
  }

  .nav-block__bottom {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15%;

    .go_over {
      font-size: 18px;
      .AR;
      text-decoration: none;
      color: #fff;
    }

    .arrow_down {
      width: 24px;
      height: 12px;
      display: inline-block;
      transform: rotate(90deg);
      background: url('../img/arrow_right_white.png') center center / cover no-repeat no-repeat;
    }
  }
}

/* Обёртка для того что бы не прыгало после отключения fixed */
.specialSavePlace {
  width: 100vw;
  height: 100vh;
  background: #f7f7f7;
}

.wrap_menu {
  overflow: auto;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}