.menuOpen__fon {
    position: fixed;
    width: 100%;
    height: 110vh;
    cursor: pointer;
    background: #F7F7F7;
    visibility: hidden;
    opacity: 0;
}
.menuOpen{
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    visibility: hidden;
    opacity: 1;
    z-index: 999;  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    transform: 1s;
}

.menuOpenAfter {
    width: 100%;
    height: 110vh;
    visibility: visible;
    opacity: 1;
    right: 0;
    top: 0;
    z-index: 8;
    transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
}

.menuOpenAfterFon{
    z-index: 7; 
}

.menu__list{
    width: 100%;
    position: relative;
}

.menuOpen__wrapper {
    z-index: 8;
    width: 1440px;
    flex-wrap: wrap;
    margin: 0 auto;
    position: relative;
    @media (max-width: 1800px){
        width: 1320px;
    }
    @media (max-width: 1600px){
        width: 1140px;
    }
    @media (max-width: 1440px){
        width: 1050px;
    }
    @media (max-width: 1200px){
        width: 800px;
    }
    @media (max-width: 991px){
        width: 750px;
    }
    @media (max-width: 767px){
        width: 550px;
    }
    @media screen and (max-width: 575px){
        width: 300px;
    }
}

.menuOpenLi__wrapper {
    z-index: 8;
    width: 1440px;
    flex-wrap: wrap;
    position: relative;
    @media (max-width: 1800px){
        width: 1320px;
    }
    @media (max-width: 1600px){
        width: 1140px;
    }
    @media (max-width: 1440px){
        width: 1050px;
    }
    @media (max-width: 1200px){
        width: 800px;
    }
    @media (max-width: 991px){
        width: 750px;
    }
    @media (max-width: 767px){
        width: 550px;
    }
    @media screen and (max-width: 575px){
        width: 300px;
    }
}

.menu__horizontal{
    position: relative;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transform: 2s;
    transition: 0.5s;
    margin-top: 175px;
    @media (max-width: 1600px){
        margin-top: 150px;
    }
    @media (max-width: 1366px){
        margin-top: 130px;
    }
    @media (max-width: 767px){
        margin-top: 100px;
    }
    .menu__horizontalList{
        display: flex;
        @media screen and (max-width: 575px){
           flex-wrap: wrap;
        }
    }
    .menu__horizontalItem{
        @media screen and (max-width: 575px){
            margin-bottom: 10px;
            width: 50%;
        }
        a{
            font-family: 'ACYSB';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            letter-spacing: 0.03em;
            color: #282937;
            margin-right: 65px;
            transition: 1s;
            @media (max-width: 1600px){
                font-size: 16px;
                margin-right: 50px;
            }
            @media (max-width: 1366px){
                font-size: 14px;
                margin-right: 40px;
            }
            @media (max-width: 1200px){
                margin-right: 25px;
            }
            @media (max-width: 991px){
                font-size: 12px;
            }
            @media screen and (max-width: 575px){
                font-size: 11px;
            }
        }
    }
    .menu__horizontalItem:nth-child(5){
        margin-right: 0px;
    }
}
.menu__vertical{
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: 2s;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    width: 100%;
}
.menu__verticalList{
    margin-top: 55px;
    width: 100%;
    @media (max-width: 1366px){
        margin-top: 35px;
    }
    @media (max-width: 767px){
        margin-top: 15px;
    }
}
.menu__verticalItem {
    padding-top: 25px;
    cursor: pointer;
    width: 100%;
    position: relative;
    z-index: 9;
    display: flex;
    justify-content: center;
    @media (max-width: 1366px){
        padding-top: 20px;
    }
    @media screen and (max-width: 575px){
        padding-top: 15px;
    }
    a {    
        font-family: 'BodyTextTrial-ExtraBold';
        font-style: normal;
        font-weight: 800;
        font-size: 54px;
        letter-spacing: 0.035em;
        text-transform: uppercase;
        color: #282937;
        -webkit-text-stroke: 2px #282937;
        -webkit-text-fill-color: white;
        width: 100%;
        position: relative;
        display: inline-block;
        @media (max-width: 1600px){
            font-size: 48px;
        }
        @media (max-width: 1366px){
            font-size: 44px;
        }
        @media (max-width: 1200px){
            font-size: 38px;
        }
        @media (max-width: 991px){
            font-size: 33px;
        }
        @media (max-width: 767px){
            font-size: 28px;
        }
        @media screen and (max-width: 575px){
            font-size: 22px;
        }
    }
}
.menu__verticalItem:last-child{
    padding-bottom: 100px;
}
.menuOpen__image{
    position: absolute;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    @media screen and (max-width: 575px){
       display: none;
    }
}
.menuOpen__imageAll{
    display: none;
}
.menuOpen__image1{
    margin-top: 190px;
    margin-right: 90px;
    @media (max-width: 1800px){
        margin-right: 70px;
    }
    @media (max-width: 1600px){
        margin-right: 50px;
    }
    @media (max-width: 1366px){
        margin-top: 160px;
        margin-right: 40px;
    }
    @media (max-width: 767px){
        margin-top: 200px;
        margin-right: 10px;
    }
    img{
        width: 684px;
        @media (max-width: 1800px){
            width: 620px;
        }
        @media (max-width: 1600px){
            width: 520px;
        }
        @media (max-width: 1366px){
            width: 470px;
        }
        @media (max-width: 1200px){
            width: 410px;
        }
        @media (max-width: 991px){
            width: 340px;
        }
        @media (max-width: 767px){
            width: 300px;
        }
    }
}
.menuOpen__image2{
    margin-top: 428px;
    @media (max-width: 1600px){
        margin-top: 360px;
    }
    @media (max-width: 1366px){
        margin-top: 280px;
    }
    @media (max-width: 767px){
        margin-top: 240px;
    }
    img{
        width: 1054px;
        @media (max-width: 1800px){
            width: 950px;
        }
        @media (max-width: 1600px){
            width: 800px;
        }
        @media (max-width: 1366px){
            width: 620px;
        }
        @media (max-width: 1200px){
            width: 550px;
        }
        @media (max-width: 991px){
            width: 500px;
        }
        @media (max-width: 767px){
            width: 400px;
        }
    }
}
.menuOpen__image3{
    margin-top: 180px;
    @media (max-width: 767px){
        margin-top: 200px;
    }
    img{
        @media (max-width: 1800px){
            width: 700px;
        }
        @media (max-width: 1600px){
            width: 600px;
        }
        @media (max-width: 1366px){
            width: 530px;
        }
        @media (max-width: 1200px){
            width: 470px;
        }
        @media (max-width: 991px){
            width: 390px;
        }
        @media (max-width: 767px){
            width: 280px;
        }
    }
}
.menuOpen__image4{
    margin-top: 110px;
    margin-right: 55px;
    @media (max-width: 1366px){
        margin-top: 80px;
        margin-right: 40px;
    }
    @media (max-width: 1200px){
        margin-top: 100px;
    }
    @media (max-width: 991px){
        margin-top: 130px;
    }
    @media (max-width: 767px){
        margin-top: 180px;
    }
    img{
        @media (max-width: 1800px){
           width: 650px;
        }
        @media (max-width: 1600px){
            width: 560px;
        }
        @media (max-width: 1366px){
            width: 480px;
        }
        @media (max-width: 1200px){
            width: 400px;
        }
        @media (max-width: 991px){
            width: 340px;
        }
        @media (max-width: 767px){
            width: 280px;
        }
    }
}
.menuOpen__image5{
   margin-bottom: 0;
   margin-top: 200px;
   margin-right: 170px;
    @media (max-width: 1600px){
        margin-right: 150px;
    }
    @media (max-width: 1366px){
        margin-right: 160px;
    }
    @media (max-width: 1200px){
        margin-right: 100px;
    }
    img{
        @media (max-width: 1600px){
            width: 400px;
        }
        @media (max-width: 1366px){
            width: 360px;
        }
        @media (max-width: 1200px){
            width: 320px;
        }
        @media (max-width: 991px){
            width: 240px;
        }
        @media (max-width: 767px){
            width: 200px;
        }
    }
}
.menuOpen__image6{
    //display: flex;
    align-items: flex-end;
    height: 100%;
    img{
        @media (max-width: 1600px){
            width: 750px;
        }
        @media (max-width: 1366px){
            width: 650px;
        }
        @media (max-width: 1200px){
            width: 560px;
        }
        @media (max-width: 991px){
            width: 520px;
        }
        @media (max-width: 767px){
            width: 420px;
        }
    }
}
.menuOpen__image7{
    margin-top: 140px;
    margin-right: 80px;
    @media (max-width: 1600px){
        margin-right: 60px;
    }
    @media (max-width: 1366px){
        margin-top: 130px;
        margin-right: 50px;
    }
    @media (max-width: 1200px){
        margin-right: 0px;
    }
    @media (max-width: 991px){
        margin-top: 190px;
    }
    img{
        @media (max-width: 1800px){
            width: 580px;
        }
        @media (max-width: 1600px){
            width: 500px;
        }
        @media (max-width: 1366px){
            width: 400px;
        }
        @media (max-width: 1200px){
            width: 370px;
        }
        @media (max-width: 991px){
            width: 330px;
        }
        @media (max-width: 767px){
            width: 300px;
        }
    }
}
.menuOpen__image8{
    margin-top: 250px;
    margin-right: 300px;
    @media (max-width: 1800px){
        margin-right: 200px;
    }
    @media (max-width: 1600px){
        margin-right: 150px;
        margin-top: 200px;
    }
    @media (max-width: 1366px){
        margin-right: 120px;
        margin-top: 160px;
    }
    @media (max-width: 991px){
        margin-top: 200px;
    }
    @media (max-width: 767px){
        margin-right: 60px;
    }
    img{
        @media (max-width: 1800px){
           width: 420px;
        }
        @media (max-width: 1366px){
            width: 340px;
        }
        @media (max-width: 1200px){
            width: 300px;
        }
        @media (max-width: 991px){
            width: 280px;
        }
        @media (max-width: 767px){
            width: 240px;
        }
    }
}
.menuOpen__image9{
    margin-top: 200px;
    margin-right: 150px;
    @media (max-width: 1800px){
        margin-right: 90px;
    }
    @media (max-width: 1600px){
        margin-right: 70px;
    }
    @media (max-width: 1366px){
        margin-top: 150px;
        margin-right: 90px;
    }
    @media (max-width: 1200px){
        margin-right: 50px;
    }
    @media (max-width: 991px){
        margin-top: 190px;
    }
    @media (max-width: 767px){
        margin-right: 30px;
    }
    img{
        @media (max-width: 1600px){
           width: 520px;
        }
        @media (max-width: 1366px){
            width: 440px;
        }
        @media (max-width: 1200px){
            width: 390px;
        }
        @media (max-width: 991px){
            width: 340px;
        }
        @media (max-width: 767px){
            width: 270px;
        }
    }
}
.menuOpen__image10{
    margin-top: 150px;
    @media (max-width: 1800px){
        margin-top: 190px;
    }
    @media (max-width: 1366px){
        margin-top: 140px;
    }
    @media (max-width: 1200px){
        margin-top: 180px;
    }
    img{
        @media (max-width: 1800px){
            width: 980px;
        }
        @media (max-width: 1600px){
           width: 820px;
        }
        @media (max-width: 1366px){
            width: 680px;
        }
        @media (max-width: 1200px){
            width: 550px;
        }
        @media (max-width: 991px){
            width: 480px;
        }
        @media (max-width: 767px){
            width: 400px;
        }
    }
}
.menuOpen__image11{
    margin-top: 100px;
    @media (max-width: 1200px){
        margin-top: 160px;
    }
    img{
        @media (max-width: 1800px){
            width: 940px;
        }
        @media (max-width: 1600px){
            width: 800px;
        }
        @media (max-width: 1366px){
            width: 750px;
        }
        @media (max-width: 1200px){
            width: 650px;
        }
        @media (max-width: 991px){
            width: 600px;
        }
        @media (max-width: 767px){
            width: 450px;
        }
    }
}

.menuOpen .menu-wrapper {
    z-index: 7;
}

.lang-wrapper{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: fixed;
    bottom: 50px; 
    right: 100px;
    position: fixed;
    height: 46px;
    z-index: 999;
    transform: 2s;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    a {
        width: 46px;
        height: 46px;
        font-family: 'ACYSB';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        color: #282937;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 30px;
        cursor: pointer;
        z-index: 999;
        @media (max-width: 1366px){
            width: 40px;
            height: 40px;
            font-size: 14px;
            margin-left: 20px;
        }
        @media (max-width: 767px){
            width: 35px;
            height: 35px;
            font-size: 12px;
            margin-left: 10px;
        }
    }
    .active{
        border: 1px solid #282937;
        box-sizing: border-box;
        border-radius: 50%;
    }
}
.lang-wrapper a:first-child{
    margin-left: 0px;
}
.color_white{
    color: #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.showMenu {
     visibility: visible;
     -webkit-transition: opacity 0.7s ease-in-out;
     transition: opacity 0.7s ease-in-out;
     opacity: 1;
}