.menu-wrapper{
    width: 1774px;
    margin: 0 auto;
    z-index: 9;
    @media (max-width: 1800px) {
        width: 1580px;
    }
    @media (max-width: 1600px) {
        width: 1440px;
    }
    @media (max-width: 1440px) {
        width: 1280px;
    }
    @media (max-width: 1200px) {
        width: 990px;
    }
    @media (max-width: 991px) {
        width: 750px;
    }
    @media (max-width: 767px) {
        width: 550px;
    }
    @media screen and (max-width: 575px) {
        width: 300px;
    }
}
.wrap_first_line{
    position: relative;
    width: inherit;
}
.menu__main {
    display: -webkit-box;
    display: flex;
    width: 100%;
    width: inherit;
    -webkit-box-pack: justify;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    z-index: 9;
    position: relative;
    height: 60px;
    @media (max-width: 1600px) {
        margin-top: 40px;
    }
    @media (max-width: 1280px) {
        margin-top: 30px;
    }
}
.right_link {
    display: -webkit-box;
    display: flex;
}
.menu__logo {
    background: url('../img/logo.svg') center center / cover no-repeat no-repeat;
    width: 59px;
    height: 58px;
    display: inline-block;
    z-index: 99;
    @media (max-width: 767px) {
        width: 50px;
        height: 49px;
    }
}

.menu__logoBlack {
    background: url('../img/logo_black.svg') center center / cover no-repeat no-repeat;
}

.menu__right {
    display: -webkit-box;
    display: flex;
}
.menu__right .nav-link__head{
    display: flex;
}
.menu__right .nav-link__head .run_project {
    letter-spacing: 0.055em;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    font-size: 13px;
    font-family: 'BodyTextLarge-ExtraBold', sans-serif;
    display: inline-block;
    width: 190px;
    text-align: center;
    text-transform: uppercase;
    margin-right: 100px;
    @media (max-width: 1600px) {
        margin-right: 90px;
    }
    @media (max-width: 1366px) {
        margin-right: 80px;
    }
    @media (max-width: 1280px) {
        margin-right: 80px;
    }
    @media (max-width: 1200px) {
        margin-right: 40px;
    }
    @media (max-width: 767px) {
        margin-right: 30px;
        font-size: 11px;
        width: 200px;
        padding-top: 7px;
        padding-bottom: 7px;
    }
    @media screen and (max-width: 575px) {
        margin-right: 0px;
        margin-bottom: 15px;
        font-size: 11px;
        width: 170px;
    }
}
.menu__right .nav-link__head{
    @media screen and (max-width: 575px) {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}
.menuOpen__hamb {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 33px;
    height: 33px;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
  }
   
  .menuOpen__hamb:focus {
    outline: none;
  }

  .menuOpen__hamb span {
    display: block;
    position: absolute;
    top: 15px;
    left: 5px;
    right: 5px;
    height: 2px;
    width: 100%;
    //background: white;
  }
   
  .menuOpen__hamb span::before,
  .menuOpen__hamb span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    background: #282937;
    content: "";
  }

  .menuOpen__hambWhite span::before,
  .menuOpen__hambWhite span::after {
    background: #fff;
  }
   
  .menuOpen__hamb span::before {
    top: -5px;
  }
   
  .menuOpen__hamb span::after {
    bottom: -5px;
  }

  .menuOpen__hamb {
    background-color: inherit;
  }
   
  .menuOpen__hamb span {
    transition: background 0s 0.3s;
  }
   
  .menuOpen__hamb span::before,
  .menuOpen__hamb span::after {
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
  }
   
  .menuOpen__hamb span::before {
    transition-property: top, transform;
  }
   
  .menuOpen__hamb span::after {
    transition-property: bottom, transform;
  }

  .menuOpen__hamb.is-active span {
    background: none;
  }
  .menuOpen__hamb.is-active span::before {
    top: 0;
    transform: rotate(45deg);
  }
  .menuOpen__hamb.is-active span::after {
    bottom: 0;
    transform: rotate(-45deg);
  }
  .menuOpen__hamb.is-active span::before,
  .menuOpen__hamb.is-active span::after {
    transition-delay: 0s, 0.3s;
  }

.mar {
    height: 0;
    margin: 0;
    max-height: 0;
    min-height: 0;
}