.block-animation {
    position: absolute;
    right: 70px;
    top: 50px;
    width: 0;
    height: 0;
    transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    cursor: pointer;
    z-index: 99;
}

  .block-animationAfter {
    background: #F6173F;
    width: 100%;
    height: 110vh;
    position: relative;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
}

.modal__startProject-logo{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.4s linear;
    transition: 0.4s linear;
    z-index: 99;  
    @media (max-width: 991px) {
        display: none;
    }
}
.modal__eye{
    position: absolute;
    width: 100%;
    height: 100%;
    @media (max-width: 991px) {
       display: none;
    }
}
.modal__eyeItem{
    background: url('../img/eye.svg') no-repeat center;
    background-size: cover;
    position: absolute;
    visibility: hidden;
    opacity: 0;
}
.modal__eyeItem1{
    width: 108px;
    height: 73px;
    right: 0;
    bottom: 0;
    right: 190px;
    bottom: 160px;
    @media (max-width: 1600px) {
        width: 88px;
        height: 56px;
        right: 150px;
        bottom: 150px;
    }
    @media (max-width: 1366px) {
        width: 78px;
        height: 46px;
        right: 130px;
        bottom: 130px;
    }
}

.modal__eyeItem2{
    width: 133px;
    height: 90px;
    right: 20px;
    bottom: 150px;
    @media (max-width: 1600px) {
        width: 113px;
        height: 70px;
        bottom: 140px;
    }
    @media (max-width: 1366px) {
        width: 103px;
        height: 60px;
        bottom: 125px;
    }
}
.modal__eyeItem3{
    width: 133px;
    height: 91px;
    right: -80px;
    bottom: 220px;
    @media (max-width: 1600px) {
        width: 113px;
        height: 71px;
        right: -60px;
        bottom: 210px;
    }
    @media (max-width: 1366px) {
        width: 103px;
        height: 61px;
        right: -60px;
        bottom: 180px;
    }
}
.modal__eyeItem4{
    width: 73px;
    height: 43px;
    right: -100px;
    bottom: 150px;
    @media (max-width: 1600px) {
        width: 63px;
        height: 37px;
        right: -80px;
        bottom: 140px;
    }
    @media (max-width: 1366px) {
        width: 53px;
        height: 34px;
        right: -70px;
        bottom: 140px;
    }
}
.modal__eyeItem5{
    width: 136px;
    height: 92px;
    right: -70px;
    bottom: 60px;
    @media (max-width: 1600px) {
        width: 116px;
        height: 72px;
        right: -50px;
        bottom: 50px;
    }
    @media (max-width: 1366px) {
        width: 106px;
        height: 62px;
        right: -40px;
        bottom: 60px;
    }
}
.modal__eyeItem6{
    width: 107px;
    height: 75px;
    right: 50px;
    bottom: -20px;
    @media (max-width: 1600px) {
        width: 87px;
        height: 55px;
        bottom: 0px;
    }
    @media (max-width: 1366px) {
        width: 77px;
        height: 50px;
        bottom: 20px;
    }
}
