.our-project {
  background: @dark;
  height: 900px;
  min-height: 900px;
  max-height: 900px;
  overflow-x: hidden;
  margin-bottom: 233px;
  display: flex;
  flex-direction: column;
  //align-items: center;
  justify-content: center;

  .our-project__header {
    padding-left: 29%;
    margin: 0 auto 55px;
    opacity: 0;
    transition: opacity .3s;

    .our-project__headerBig {
      font-style: normal;
      font-weight: 900;
      font-size: 40px;
      line-height: 65px;
      letter-spacing: 0.03em;
      color: #FFFFFF;
      .CEB;
    }

    .our-project__headerSmall {
      .CB;
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      line-height: 22px;
      letter-spacing: 0.205em;
      text-transform: uppercase;
      color: #7D7E8A;
    }
  }
}

.our-project_items {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  transform: translateX(100vw);
  transition: transform 1.5s;
  //transform: translateX(-190px);

  li.our-project__item {
    margin-right: 75px;
    display: inline-block;
    width: 400px;
    min-width: 300px;

    .our-project__wrapImg {
      display: inline-block;
      position: relative;
      z-index: 1;
      width: 100%;
      max-width: 100%;

      .our-project__img {
        max-width: 100%;
        min-width: 100%;
      }

      .our-project__video {
        display: none;
      }
    }

    span.our-project__description {
      .AR;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 29px;
      color: #E3E4EE;
      margin-top: 10px;
      display: none;
    }
  }

  #active_item_project {
    width: 800px;
    height: 400px;
    min-width: 800px;
    min-height: 400px;
    display: inline-block;
    position: relative;
    z-index: 0;
    //transition: all .3s;

    .our-project__wrapImg {
      width: 800px;
      height: 400px;
      min-width: 800px;
      min-height: 400px;
      overflow: hidden;
      position: relative;
      z-index: 1;
      //transition: all .3s;

      .our-project__img {
        position: relative;
        z-index: 2;
      }

      .our-project__video {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
      }
    }

    span.our-project__description {
      display: inline-block;
      //transition: opacity .2s;
    }
  }
}

.wrapp_left_right_show_all {
  display: flex;
  align-items: center;
  width: 790px;
  min-width: 790px;
  padding-left: 0;
  margin: 10px auto 0;
  opacity: 0;
  transition: opacity .2s;

  .fhd-block({
    padding-left: 17%;
  });
}

/* Кнопки вправо и влево */
.our-project__wrapBtn {
  display: flex;
  max-width: 200px;
  align-items: center;

  .our-project__leftBtn {
    width: 46px;
    height: 46px;
    border: 1px solid rgba(125, 126, 138, 0.2);
    border-radius: 46px;
    line-height: 50px;
    text-align: center;
    margin-right: 14px;
    transition: all .3s;
    position: relative;
    z-index: 2;

    &:hover {
      background: #fff;
      transition: all .3s;
    }

    &:hover .our-project__leftIconBtn {
      background: #fff;
      background: url(../img/shevron_left.png) center center / cover no-repeat no-repeat;
      transition: all .3s;
    }

    .our-project__leftIconBtn {
      background: url(../img/shevron_left_white.png) center center / cover no-repeat no-repeat;
      width: 9px;
      height: 16px;
      display: inline-block;
      margin-right: 3px;
      position: relative;
      z-index: 1;
    }
  }

  .our-project__rightBtn {
    height: 46px;
    width: 46px;
    border: 1px solid rgba(125, 126, 138, 0.2);
    border-radius: 46px;
    line-height: 50px;
    text-align: center;
    transition: all .3s;
    position: relative;
    z-index: 1;

    &:hover {
      background: #fff;
      transition: all .3s;
    }

    &:hover .our-project__rightIconBtn {
      background: #fff;
      background: url(../img/shevron_left.png) center center / cover no-repeat no-repeat;
      transition: all .3s;
    }

    .our-project__rightIconBtn {
      background: url(../img/shevron_left_white.png) center center / cover no-repeat no-repeat;
      width: 9px;
      height: 16px;
      transform: rotate(180deg);
      display: inline-block;
      margin-left: 3px;
      position: relative;
      z-index: 2;
    }
  }
}

/* Ссылка все работы */
.our-project__watchAllWrap {
  max-width: 360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s;
  margin-left: 15%;

  .our-project__watchAllText {
    display: inline-block;
    color: @red;
    font-weight: 600;
    font-size: 18px;
    .AR;
    transition: all .3s;
  }

  &:hover .our-project_with_advertising_link .our-project__watchAllCircle .our-project__watchAllIcon {
    transition: all .3s;
    background: url('../img/arrow_right_white.png') center center / cover no-repeat no-repeat;
  }

  &:hover .our-project_with_advertising_link .our-project__watchAllCircle {
    transition: all .3s;
    background: @red;
    color: #fff;
    width: 46px;
    height: 46px;
  }

  .our-project_with_advertising_link {
    transition: all .3s;
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;

    .our-project__watchAllCircle {
      width: 0;
      height: 0;
      border-radius: 46px;
      text-align: center;
      transition: all .3s;
      line-height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: visible;

      .our-project__watchAllIcon {
        display: inline-block;
        height: 16px;
        width: 22px;
        color: @dark;
        font-weight: bold;
        font-size: 20px;
        position: relative;
        z-index: 1000;
        min-width: 22px;
        transition: all .3s;
        background: url('../img/arrow_right_red.png') center center / cover no-repeat no-repeat;
      }
    }
  }
}


/* Одиноко бегущая строка у низов ... */
.wrap-run-string-footer {
  max-width: 100%;
  overflow-x: hidden;
  padding: 15px 0;
  margin: 0 auto -70px;

  .run-string-footer {
    display: flex;
    transition: all .3s;
    scroll-behavior: smooth;

    .run-string-footer__text {
      margin-bottom: 33px;
      text-transform: uppercase;
      font-size: 65px;
      font-weight: 800;
      white-space: nowrap;
      transition: all .3s;
      margin-right: 120px;
      .BodyTextLarge-ExtraBold;
      font-style: normal;
      font-display: swap;
      letter-spacing: 0.035em;
      text-transform: uppercase;
      color: @red;
      -webkit-text-stroke: 2px @red;
      -webkit-text-fill-color: #f7f7f7;
      animation: 60s linear 0s infinite normal text_left;
    }
  }
}
