.places-advertising {
  margin-top: 150px;
  margin-bottom: 240px;
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: space-between;
  position: relative;
  z-index: 0;

  .places-advertising__left {
    width: 0;
    opacity: 0;
    //width: 35vw;
    display: inline-block;
    transition: width, opacity .9s;

    .places-advertising__head {
      font-weight: 900;
      font-size: 40px;
      line-height: 65px;
      letter-spacing: 0.03em;
      color: #282937;
      .AR;
      margin-left: 15%;
    }

    .places-advertising__text {
      margin-top: 60px;
      font-weight: 300;
      font-size: 20px;
      line-height: 32px;
      color: #282937;
      .AR;
      margin-left: 15%;
    }
  }

  .places-advertising__right {
    width: 100vw;
    //width: 65vw;
    display: inline-block;
    transition: width 2s;

    .wrap_img_map_places {
      img {
        width: 100%;
      }
    }
  }
}

.places-advertising__link {
  max-width: 360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 75px;
  text-decoration: none;
  transition: all .3s;
  margin-left: 15%;

  .advertising__link__text {
    display: inline-block;
    color: @red;
    font-weight: 600;
    font-size: 18px;
    .AR;
    transition: all .3s;
  }

  &:hover .wrap_with_advertising_link .advertising-wrap-link__icon .advertising-link__icon {
    background: url('../img/arrow_right_white.png') center center / cover no-repeat no-repeat;
    transition: all .3s;
  }

  &:hover .wrap_with_advertising_link .advertising-wrap-link__icon {
    transition: all .3s;
    background: @red;
    color: #fff;
    width: 46px;
    height: 46px;
  }

  .wrap_with_advertising_link {
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;

    .advertising-wrap-link__icon {
      width: 0;
      height: 0;
      border-radius: 46px;
      text-align: center;
      transition: all .3s;
      line-height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: visible;

      .advertising-link__icon {
        display: inline-block;
        height: 16px;
        width: 22px;
        color: @dark;
        font-weight: bold;
        font-size: 20px;
        position: relative;
        z-index: 1000;
        min-width: 22px;
        transition: all .3s;
        background: url('../img/arrow_right_red.png') center center / cover no-repeat no-repeat;
      }
    }
  }
}

.two-strings {
  max-width: 100%;
  overflow-x: hidden;
  padding: 15px 0;
  margin: 165px auto;

  .two-strings__left,
  .two-strings__right {
    display: flex;
    transition: all .3s;
    scroll-behavior: smooth;
  }

  .two-strings__leftText,
  .two-strings__rightText {
    margin-bottom: 33px;
    /*    color: #E5E5E5;
        text-shadow: 1px 1px 0 @red, -1px -1px 0 @red, -1px 1px 0 @red, 1px -1px 0 @red;
        .BodyTextLarge-ExtraBold;*/
    text-transform: uppercase;
    font-size: 65px;
    font-weight: 800;
    white-space: nowrap;
    transition: all .3s;
    margin-right: 120px;
    //font-family: 'GTEestiProDisplay-UltraBold';
    .BodyTextLarge-ExtraBold;
    font-style: normal;
    font-display: swap;
    letter-spacing: 0.035em;
    text-transform: uppercase;
    color: @red;
    -webkit-text-stroke: 2px @red;
    -webkit-text-fill-color: #f7f7f7;

    & > span {
      margin-left: 20px;
      margin-right: 20px;
      -webkit-text-fill-color: @red;
      font-family: 'GTEestiProDisplay-UltraBold';
    }
  }

  .two-strings__leftText {
    animation: 60s linear 0s infinite normal text_left;
  }
  .two-strings__rightText {
    transform: translateX(-7200px);
    animation: 60s linear 0s infinite normal running text_right;
  }
}

.client-best {
  margin-top: 150px;
  margin-bottom: 240px;
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: space-between;
  position: relative;
  z-index: 0;

  .client-best__left {
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .client-best__head {
      font-weight: 900;
      font-size: 40px;
      line-height: 65px;
      letter-spacing: 0.03em;
      color: #282937;
      margin-top: -115px;
      .CEB;
      margin-left: 15%;
      transform: translateY(100px);
      opacity: 0;
      transition: all .5s;
    }
  }

  .client-best__right {
    width: 65vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    .client-best__text {
      max-width: 700px;
      margin-top: 60px;
      font-weight: 300;
      font-size: 20px;
      line-height: 32px;
      color: #282937;
      .AR;
      margin-left: 15%;
    }
  }
}

/* Активно продвигаем Табы */
.actively-promoting {
  transition: all .3s;

  .actively-promoting__head {
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 65px;
    letter-spacing: 0.015em;
    color: #282937;
    .BodyTextTrial-ExtraBold;
    margin-bottom: 50px;
  }

  .actively-promoting__wrapTabsBtn {
    display: flex;
    align-items: center;
  }

  .actively-promoting__btnLeft {
    width: 46px;
    height: 46px;
    min-width: 46px;
    min-height: 46px;
    border-radius: 46px;
    border: 1px solid rgba(125, 126, 138, 0.2);
    box-sizing: border-box;
    text-align: center;
    line-height: 51px;
    position: relative;
    z-index: 10;

    .actively-promoting__iconLeft {
      width: 8.81px;
      height: 16px;
      display: inline-block;
      background: url('../img/shevron_left.png') center center / cover no-repeat no-repeat;
      position: relative;
      z-index: -1;
      margin-right: 2px;
    }
  }

  .actively-promoting__btnRight {
    width: 46px;
    height: 46px;
    min-width: 46px;
    min-height: 46px;
    border-radius: 46px;
    border: 1px solid rgba(125, 126, 138, 0.2);
    box-sizing: border-box;
    text-align: center;
    line-height: 51px;
    position: relative;
    z-index: 10;

    .actively-promoting__iconRight {
      width: 8.81px;
      height: 16px;
      display: inline-block;
      transform: rotate(180deg);
      background: url('../img/shevron_left.png') center center / cover no-repeat no-repeat;
      position: relative;
      z-index: -1;
      margin-left: 4px;
    }
  }

  .actively-promoting__wrap {
    margin-bottom: 100px;
  }

  .actively-promoting__wrapBtn {
    overflow: hidden;
    position: relative;
    height: 46px;
    line-height: 14px;
    z-index: 2;
    transition: all .3s;

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      height: 73px;
      width: 170px;
      z-index: 3;
      background: linear-gradient(to right, #f7f7f7, transparent)
    }

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      height: 73px;
      width: 170px;
      z-index: 3;
      background: linear-gradient(to left, #f7f7f7, transparent)
    }

    .wrapp_btn {
      white-space: nowrap;
      display: flex;
      flex-wrap: nowrap;
      height: 46px;
      line-height: 14px;
      transition: all .3s;
    }

    .btn1,
    .btn2,
    .btn3,
    .btn4,
    .btn5,
    .btn6,
    .btn7,
    .btn8,
    .btn9,
    .btn10 {
      color: @dark;
      .AR;
      margin-right: 20px;
      padding: 17px 20px;
      max-height: 46px;
      background: #fff;
      text-transform: uppercase;
      letter-spacing: 0.205em;
      border-radius: 5px;
      transition: all .3s;
    }

    #active {
      color: @red !important;
      border: 1px solid @red;
    }
  }

  .actively-promoting__wrapContent {
    margin-top: 30px;
    width: 100vw;
    max-width: 100%;

    .content1,
    .content2,
    .content3,
    .content4,
    .content5,
    .content6,
    .content7,
    .content8,
    .content9,
    .content10 {
      display: flex;
      flex-wrap: wrap;
      background: #fff;
      width: 100vw;
      max-width: 100%;
      align-items: center;

      .actively-promoting__iconContent {
        flex-basis: calc(20% - 40px);
        text-align: center;
        margin: 50px 20px;
      }
    }
  }
}

.display_none {
  display: none !important;
}