.project__wrapper{
    z-index: 2;
    max-width: 1440px;
    width: 1476px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
    margin-top: 150px;
    @media (max-width: 1600px) {
        width: 1300px;
    }
    @media (max-width: 1366px) {
        width: 1114px;
    }
    @media (max-width: 1200px) {
        width: 950px;
        margin-top: 135px;
    }
    @media (max-width: 991px) {
        max-width: 750px;
        margin-top: 80px;
    }
    @media (max-width: 767px) {
        max-width: 550px;
    }
    @media screen and (max-width: 575px) {
        max-width: 300px;
        margin-top: 60px;
    }
}
#projectTabs{
    display: flex;
    width: 100%;
}
.projectTabs__title{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    width: 380px;
    flex-shrink: 0;
    @media (max-width: 1600px){
        width: 340px;
    }
    @media (max-width: 1366px){
        width: 280px;
    }
    @media screen and (max-width: 575px){
        width: 40%;
        flex-wrap: wrap;
    }
    .projectTabs__item{
        display: flex;
        align-items: center;
        font-family: 'ACYSB';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        display: flex;
        color: #282937;
        margin-bottom: 25px;
        @media (max-width: 1600px){
            margin-bottom: 20px;
        }
        @media (max-width: 1366px){
            font-size: 14px;
            margin-bottom: 15px;
        }
        @media (max-width: 767px){
            font-size: 12px;
        }
        @media screen and (max-width: 575px){
            font-size: 11px;
            padding-right: 20px;
        }
        img{
            width: 19px;
            margin-left: 20px;
            display: none;
        }
    }
}

.projectTabs__title .projectTabs__item:hover {
    color: #F6173F;
}

.projectTabs__title .projectTabs__item:hover img{
    display: flex;
}

.projectTabs__title .tab__item:nth-child(2),
.projectTabs__title .tab__item:nth-child(3){
    @media screen and (max-width: 575px){
        margin-bottom: 0px;
    }
}

#projectTabs .whiteborder {
    background: none; 
    color: #F6173F;
}

.projectTabs__content{
    display: flex;
    position: relative;
}

#projectTabs .projectTabsContent {
    display: flex;
    position: relative;
    z-index: 1;
    flex-wrap: wrap;
}

.projectItem{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    p{
        font-family: 'AvertaCY-Light';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        color: #282937;
        line-height: 161%;
        margin-top: 12px;
        @media screen and (max-width: 575px){
            font-size: 11px;
        }
    }
}
.projectItem__1{
    margin-top: -100px;
    @media (max-width: 1600px) {
        margin-top: -110px;
    }
    @media (max-width: 991px) {
        margin-top: -75px;
    }
    @media screen and (max-width: 575px){
        margin-top: 0px;
    }
    img{
        @media (max-width: 1600px) {
            width: 480px;
        }
        @media (max-width: 1366px) {
            width: 410px;
        }
        @media (max-width: 1200px) {
            width: 360px;
        }
    }
}
.projectItem__2{
    margin-top: 120px;
    margin-left: 160px;
    @media (max-width: 1600px) {
        margin-top: 90px;
        margin-left: 150px;
    }
    @media (max-width: 1366px) {
        margin-top: 50px;
        margin-left: 120px;
    }
    @media (max-width: 1200px) {
        margin-top: 30px;
        margin-left: 40px;
    }
    @media (max-width: 991px) {
        margin-left: 0px;
    }
    img{
        @media (max-width: 1600px) {
            width: 350px;
        }
        @media (max-width: 1366px) {
            width: 320px;
        }
        @media (max-width: 1200px) {
            width: 280px;
        }
        @media (max-width: 992px) {
            width: 230px;
        }
    }
}
.projectItem__3{
    margin-top: -150px;
    margin-left: 160px;
    @media (max-width: 1600px) {
        margin-top: -190px;
        margin-left: 100px;
    }
    @media (max-width: 1366px) {
        margin-top: -190px;
        margin-left: 50px;
    }
    @media (max-width: 1200px) {
        margin-top: -190px;
        margin-left: 50px;
    }
    @media (max-width: 991px) {
        margin-top: 20px;
        margin-left: 0px;
    }
    img{
        @media (max-width: 1600px) {
            width: 270px;
        }
        @media (max-width: 1366px) {
            width: 230px;
        }
        @media (max-width: 1200px) {
            width: 200px;
        }
    }
}
.projectItem__4{
    margin-top: 80px;
    @media (max-width: 1600px) {
        margin-top: 60px;
    }
    @media (max-width: 1366px) {
        margin-top: 30px;
    }
    @media (max-width: 1200px) {
        margin-top: 20px;
    }
    img{
        @media (max-width: 1600px) {
           width: 380px;
        }
        @media (max-width: 1366px) {
            width: 320px;
        }
        @media (max-width: 1200px) {
            width: 280px;
        }
    }
}
.projectItem__5{
    margin-top: 153px;
    margin-left: 170px;
    @media (max-width: 1600px) {
        margin-top: 120px;
        margin-left: 100px;
    }
    @media (max-width: 1200px) {
        margin-top: 120px;
        margin-left: 80px;
    }
    @media (max-width: 991px) {
        margin-top: 20px;
        margin-left: 0px;
    }
    img{
        @media (max-width: 1600px) {
           width: 380px;
        }
        @media (max-width: 1366px) {
            width: 320px;
        }
        @media (max-width: 1200px) {
            width: 280px;
        }
    }
}
.projectItem__6{
    margin-top: 110px;
    margin-left: 160px;
    @media (max-width: 1600px) {
        margin-top: 90px;
        margin-left: 100px;
    }
    @media (max-width: 1366px) {
        margin-top: 50px;
    }
    @media (max-width: 991px) {
        margin-top: 20px;
        margin-left: 0px;
    }
    img{
        @media (max-width: 1600px) {
           width: 620px;
        }
        @media (max-width: 1366px) {
            width: 530px;
        }
        @media (max-width: 1200px) {
            width: 450px;
        }
        @media (max-width: 991px) {
            width: 410px;
        }
    }
}
.projectItem__7{
    margin-top: 95px;
    margin-left: 400px;
    margin-right: 100px;
    @media (max-width: 1600px) {
        margin-top: 60px;
        margin-left: 370px;
    }
    @media (max-width: 1366px) {
        margin-top: 40px; 
        margin-left: 330px;
    }
    @media (max-width: 991px) {
        margin-top: 20px;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    img{
        @media (max-width: 1600px) {
           width: 350px;
        }
        @media (max-width: 1366px) {
            width: 300px;
        }
        
    }
}
.projectItem__8{
    margin-top: -100px;
    margin-left: 0px;
    @media (max-width: 1600px) {
        margin-top: -120px;
    }
    @media (max-width: 1366px) {
        margin-top: -140px;
    }
    @media (max-width: 991px) {
        margin-top: 20px;
        margin-left: 0px;
    }
    img{
        @media (max-width: 1600px) {
           width: 230px;
        }
        @media (max-width: 1200px) {
            width: 180px;
        }
    }
}
.projectItem__9{
    margin-top: 184px;
    margin-left: 120px;
    margin-bottom: 187px;
    @media (max-width: 1600px) {
        margin-top: 130px;
        margin-left: 90px;
        margin-bottom: 187px;
    }
    @media (max-width: 1200px) {
        margin-left: 40px;
    }
    @media (max-width: 991px) {
        margin-top: 20px;
        margin-left: 0px;
    }
    img{
        @media (max-width: 1600px) {
           width: 480px;
        }
        @media (max-width: 1366px) {
            width: 410px;
        }
        @media (max-width: 1200px) {
            width: 340px;
        }
    }
}
#projectTabs .hide {
    visibility: hidden;
    position: absolute;
    opacity: 0;
}
#projectTabs .show {
    //transition: 2s;
    //position: absolute;
    visibility: visible;
    -webkit-transition: opacity 1.5s ease-in-out;
    -moz-transition: opacity 1.5s ease-in-out;
    -o-transition: opacity 1.5s ease-in-out;
    transition: opacity 1.5s ease-in-out;
}